<form name="addConfigurationForm" role="form">
  <div class="modal-header dialog-header-confirm">
    <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
    <h4 class="modal-title">Please enter a configuration setting</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label>Key</label>
      <input name="key" type="text" class="form-control" placeholder="Configuration Key" ng-model="vm.data.key"
             required/>

      <div class="key" ng-if="addConfigurationForm.key.$touched || addConfigurationForm.$submitted">
        <small ng-if="addConfigurationForm.key.$error.required">
          Please enter a valid key.
        </small>
      </div>
    </div>
    <div class="form-group">
      <label>Value</label>
      <input name="value" type="text" class="form-control" placeholder="Configuration Value" ng-model="vm.data.value"
             required/>

      <div class="value" ng-if="addConfigurationForm.value.$touched || addConfigurationForm.$submitted">
        <small ng-if="addConfigurationForm.value.$error.required">
          Please enter a valid value.
        </small>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-default" ng-click="vm.save(addConfigurationForm.$valid)">Save</button>
    <button type="button" class="btn btn-primary" ng-click="vm.cancel()">Cancel</button>
  </div>
</form>
