<div class="hbox hbox-auto-xs hbox-auto-sm">
  <div class="col">
    <div class="wrapper-md">
      <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-th-list"></i> Manage {{vm.project.name || 'Project'}}</div>
        <div class="panel-body">
          <tabset class="tab-container">
            <tab heading="Project">
              <form name="projectForm" role="form">
                <div class="form-group">
                  <label>Project Name</label>
                  <input name="name" type="text" class="form-control" placeholder="Project Name"
                         ng-model="vm.project.name" ng-change="vm.save(projectForm.$valid)" required/>

                  <div class="error" ng-if="projectForm.name.$touched">
                    <small ng-if="projectForm.name.$error.required">
                      Please enter a valid project name.
                    </small>
                  </div>
                </div>

                <div class="form-group">
                  <label>Organization Name</label>
                  <input type="text" class="form-control" placeholder="Organization Name"
                         ng-model="vm.project.organization_name" readonly/>
                </div>

                <div class="form-group">
                  <label>Custom Page Content</label>
                  <input type="text" class="form-control" ng-model="vm.project.custom_content"
                         ng-model-options="{ debounce: 1000 }" ng-change="vm.save(projectForm.$valid)"/>
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <button ui-sref="app.project-dashboard({ projectId: vm.project.id })" type="submit" class="btn btn-default">
                    Go To Dashboard
                  </button>
                  <div class="pull-right">
                    <button ng-click="vm.resetData()" class="btn btn-danger">Delete All Project Data</button>
                  </div>
                </div>
              </form>
            </tab>
            <tab heading="API Keys">
              <table class="table table-striped table-bordered table-fixed b-t b-light">
                <thead>
                <tr>
                  <th>API Key</th>
                  <th ng-show="vm.hasTokens()">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="token in vm.tokens track by token.id">
                  <td>{{::token.id}}</td>
                  <td>
                    <button class="btn btn-sm clipboard" title="Copy to Clipboard"><i class="fa fa-copy"></i></button>
                    <button ng-click="vm.removeToken(token)" class="btn btn-sm" title="Delete"><i
                      class="fa fa-times"></i></button>
                  </td>
                </tr>
                <tr ng-if="!vm.hasTokens()">
                  <td colspan="2" class="text-warning">This project does not have an API Key.</td>
                </tr>
                </tbody>
              </table>

              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="form-group">
                <button ui-sref="app.project-dashboard({ projectId: vm.project.id })" type="submit" class="btn btn-default">Go
                  To Dashboard
                </button>
                <div class="pull-right">
                  <button ng-click="vm.addToken()" class="btn btn-primary">New API Key</button>
                </div>
              </div>
            </tab>
            <tab heading="Settings">
              <form role="form">
                <p>If the system detects a high volume of events coming from the same client IP address, it will
                  automatically delete the data to reduce system noise.</p>

                <div class="checkbox">
                  <label class="i-checks">
                    <input type="checkbox" ng-model="vm.project.delete_bot_data_enabled"
                           ng-model-options="{ debounce: 1000 }" ng-change="vm.saveDeleteBotDataEnabled()">
                    <i></i>
                    Automatically delete bot data
                  </label>
                </div>

                <h5>Data Exclusions</h5>

                <p>
                  A comma delimited list of field names that should be removed from any error report data
                  (e.g., extended data properties, form fields, cookies and query parameters). You can also
                  specify a <a href="http://docs.exceptionless.com/contents/security/" target="_blank"
                               title="Data Exclusions documentation">field name with wildcards (<strong>*</strong>)</a>
                  to specify starts with, ends with, or contains just to be extra safe.
                </p>
                <input type="text" class="form-control" placeholder="Example: *Password*, CreditCard*, SSN"
                       ng-model="vm.data_exclusions" ng-model-options="{ debounce: 1000 }"
                       ng-change="vm.saveDataExclusion()"/>

                <h5>Client Configuration</h5>

                <p>The configuration values on this page will be automatically sent to the Exceptionless clients for
                  your project and be available in the <code>ExceptionlessClient.Current.Configuration</code>
                  dictionary.</p>
                <!-- TODO: The add new dropdown should be populated with default settings we know about. -->
                <table class="table table-striped table-bordered table-fixed b-t b-light">
                  <thead>
                  <tr>
                    <th>Key</th>
                    <th>Value</th>
                    <th>&nbsp;</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="conf in vm.config track by conf.key">
                    <td>
                      <div class="control-group" style="margin-bottom: 0">{{::conf.key}}</div>
                    </td>
                    <td>
                      <div class="control-group" style="margin-bottom: 0">{{::conf.value}}</div>
                    </td>
                    <td>
                      <button class="btn btn-sm" title="Delete" ng-click="vm.removeConfig(conf)"><i
                        class="fa fa-times"></i></button>
                    </td>
                  </tr>
                  <tr ng-if="!vm.hasConfiguration()">
                    <td colspan="3">This project does not contain any custom configuration settings.</td>
                  </tr>
                  </tbody>
                </table>

                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <button ui-sref="app.project-dashboard({ projectId: vm.project.id })" type="submit" class="btn btn-default">
                    Go To Dashboard
                  </button>
                  <div class="pull-right">
                    <button ng-click="vm.addConfiguration()" class="btn btn-primary">New Client Configuration</button>
                  </div>
                </div>
              </form>
            </tab>
            <tab heading="Integrations">
              <div class="alert in fade alert-success" ng-if="!vm.hasPremiumFeatures()">
                <a href="javascript:void(0);">Upgrade now</a> to enable integrations!
              </div>

              <p>
                The following web hooks will be called for this project. We also support
                <a href="http://zapier.com/" target="_blank">Zapier</a> which allows
                you to easily integrate Exceptionless with many different services (200+)
                like JIRA, HipChat, Twilio, Basecamp and more.
              </p>

              <table class="table table-striped table-bordered table-fixed b-t b-light">
                <thead>
                <tr>
                  <th>Url</th>
                  <th>Event Types</th>
                  <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="hook in vm.webHooks track by hook.id">
                  <td>{{::hook.url}}</td>
                  <td>
                    <span class="label label-success"
                          ng-repeat="type in hook.event_types track by type">{{::type}}</span>
                  </td>
                  <td>
                    <button class="btn btn-sm" title="Delete" ng-click="vm.removeWebHook(hook)"><i
                      class="fa fa-times"></i></button>
                  </td>
                </tr>
                <tr ng-if="!vm.hasWebHook()">
                  <td colspan="3">This project does not contain any integrations.</td>
                </tr>
                </tbody>
              </table>

              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="form-group">
                <button ui-sref="app.project-dashboard({ projectId: vm.project.id })" type="submit" class="btn btn-default">Go
                  To Dashboard
                </button>
                <div class="pull-right">
                  <button ng-click="vm.addWebHook()" class="btn btn-primary">Add Web Hook</button>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
