{
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ],
    "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
    "printWidth": 160,
    "singleQuote": true,
    "trailingComma": "none"
}
