.image-button, .icon-button:hover {
  background-repeat: no-repeat;
  background-position: 7px !important;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.icon-login-google {
  background-image: url('/img/google.png');
}

.icon-login-microsoft {
  background-image: url('/img/microsoft.png');
}

.icon-login-facebook {
  background-image: url('/img/facebook.png');
}

.icon-login-github {
  background-image: url('/img/github.png');
}

.horizontal-divider {
  //height: 20px;
  //float: none;
}

.horizontal-divider p {
  padding: 1px;
  background-color: #9e9e9e;
  color: #fff;
  text-align: center;
  width: 30px;
  position: relative;
  z-index: 1;
  border-radius: 3px;
  left: -10px;
  float: none;
  margin-left: 40px;
}

.horizontal-divider span {
  width: 100%;
  height: 1px;
  background-color: rgb(217, 217, 217);
  position: relative;
  margin-left: 0;
  top: -21px;
  display: block;
}
