@{
    ViewBag.Title = "Login Failure";
    Layout = "~/Views/Shared/_BareLayout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Unsuccessful login with service.</h2>
</hgroup>
