<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Foundatio" version="4.3.1289" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Nito.AsyncEx.Coordination" version="1.0.2" targetFramework="net461" />
  <package id="Nito.AsyncEx.Tasks" version="1.1.0" targetFramework="net461" />
  <package id="Nito.Collections.Deque" version="1.0.0" targetFramework="net461" />
  <package id="Nito.Disposables" version="1.0.0" targetFramework="net461" />
</packages>