<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.0.4" targetFramework="net451" />
  <package id="Elasticsearch.Net" version="1.7.1" targetFramework="net451" />
  <package id="Exceptionless.DateTimeExtensions" version="3.0.38" targetFramework="net451" />
  <package id="Exceptionless.LuceneQueryParser" version="1.0.15" targetFramework="net451" />
  <package id="FluentValidation" version="5.6.2.0" targetFramework="net451" />
  <package id="Foundatio" version="3.0.479" targetFramework="net451" />
  <package id="MaxMind.Db" version="1.2.0" targetFramework="net451" />
  <package id="MaxMind.GeoIP2" version="2.4.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net451" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net451" />
  <package id="NEST" version="1.7.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net451" />
  <package id="NLog" version="4.1.2" targetFramework="net451" />
  <package id="Pegasus" version="3.1.2" targetFramework="net451" />
  <package id="RazorEngine" version="3.7.2" targetFramework="net451" />
  <package id="RestSharp" version="105.2.3" targetFramework="net451" />
  <package id="SimpleInjector" version="3.0.5" targetFramework="net451" />
  <package id="SimpleInjector.Packaging" version="3.0.5" targetFramework="net451" />
  <package id="Stripe.net" version="3.0.2" targetFramework="net451" />
  <package id="UAParser" version="1.2.0.0" targetFramework="net451" />
</packages>