<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.2.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.0.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.0.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.2" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.2.20" targetFramework="net451" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.Cookies" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.OAuth" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Caching" version="2.3.1.0" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net451" />
  <package id="mongocsharpdriver" version="1.9.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net451" />
  <package id="NLog" version="2.1.0" targetFramework="net45" />
  <package id="NLog.Xml" version="2.1.0.24" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="RazorEngine" version="3.4.1" targetFramework="net451" />
  <package id="SimpleInjector" version="2.5.0" targetFramework="net451" />
  <package id="SimpleInjector.Extensions.ExecutionContextScoping" version="2.5.0" targetFramework="net451" />
  <package id="SimpleInjector.Integration.WebApi" version="2.5.0" targetFramework="net451" />
  <package id="SimpleInjector.Packaging" version="2.5.0" targetFramework="net451" />
  <package id="StackExchange.Redis" version="1.0.281" targetFramework="net451" />
  <package id="StatsdCsharpClient" version="1.2.1.0" targetFramework="net451" />
  <package id="Stripe.net" version="2.1.0" targetFramework="net451" />
  <package id="UAParser" version="1.0.2.0" targetFramework="net451" />
  <package id="WindowsAzure.ServiceBus" version="2.3.1.0" targetFramework="net451" />
  <package id="YamlDotNet" version="3.1.1" targetFramework="net451" />
</packages>