<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Razor" version="3.1.2" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.Caching" version="2.3.1.0" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net451" />
  <package id="mongocsharpdriver" version="1.9.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net451" />
  <package id="NLog" version="2.1.0" targetFramework="net45" />
  <package id="NLog.Xml" version="2.1.0.24" targetFramework="net45" />
  <package id="RazorEngine" version="3.4.1" targetFramework="net451" />
  <package id="SimpleInjector" version="2.5.0" targetFramework="net451" />
  <package id="SimpleInjector.Packaging" version="2.5.0" targetFramework="net451" />
  <package id="StackExchange.Redis" version="1.0.289" targetFramework="net451" />
  <package id="StatsdCsharpClient" version="1.2.1.0" targetFramework="net451" />
  <package id="Stripe.net" version="2.1.2" targetFramework="net451" />
  <package id="WindowsAzure.ServiceBus" version="2.3.2.2" targetFramework="net451" />
</packages>