@using Exceptionless.App.Controllers
@foreach (string key in Alerts.ALL) {
    if (TempData.ContainsKey(key)) {
    <div class="alert alert-@key">
        <a class="close" data-dismiss="alert" href="#">x</a>
        @if (TempData.ContainsKey(String.Concat(key, "-", Alerts.TITLE))) {
        <h4 class="alert-heading">@TempData[String.Concat(key, "-", Alerts.TITLE)]</h4>
        }
        @TempData[key]
    </div>
    }
}
