@model string

<div id="@Model" data-spinner-size="small" data-spinner-top="5">
    <table class="table table-striped table-bordered table-clickable table-hover table-fixed">
        <thead>
            <tr>
                <th>Title</th>
                <th class="number">Count</th>
                <th class="date hidden-phone">First</th>
                <th class="date">Last</th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: items -->
            <tr data-bind="click: $parent.rowClick">
                <td data-bind="template: { name: 'paged-stacks-template', afterRender: $root.truncate }"></td>
                <td data-bind="formatNumber: $data.totalOccurrences"></td>
                <td class="hidden-phone"><abbr data-bind="livestamp: $data.firstOccurrence"></abbr></td>
                <td><abbr data-bind="livestamp: $data.lastOccurrence"></abbr></td>
            </tr>
            <!-- /ko -->
            <tr style="display: none" data-bind="visible: !loading() && totalLimitedByPlan() > 0">
                <td colspan="4">
                    <a href="#plan-modal" data-bind="click: function(){ exceptionless.App.showChangePlanDialog(); return true; }">Upgrade your plan</a> to see <strong data-bind="formatNumber: totalLimitedByPlan"></strong> additional records.
                </td>
            </tr>
            <tr style="display: none" data-bind="visible: items().length === 0 && !loading() && totalLimitedByPlan() === 0">
                <td colspan="4">
                    <!-- ko if: pager.currentPage() === 1 -->
                    <strong>Congratulations!</strong> You are <strong>exceptionless!</strong>
                    <!-- /ko -->
                    <!-- ko if: pager.currentPage() > 1 -->
                    No additional results were found. Please go to the previous page.
                    <!-- /ko -->
                </td>
            </tr>
    </table>
    @Html.Partial("_Pager")
</div>

<script type="text/html" id="paged-stacks-template">
    <div>
        <strong>
            <abbr data-bind="attr: { title: $data.is404() ? $data.title : $data.typeFullName }, text: $data.is404() ? '404' : $data.type"></abbr>
            <!-- ko ifnot: $data.hasMethod() -->
            :
            <!-- /ko -->
        </strong> 
                        
        <!-- ko if: $data.is404() -->
        <a class="t8-default" data-bind="text: $data.path, attr: { href: '/stack/' + $data.id() }"></a>
        <!-- /ko -->
                        
        <!-- ko ifnot: $data.is404() -->
            <!-- ko if: $data.hasMethod() -->
            in 
            <strong>
                <abbr data-bind="attr: { title: $data.methodFullName }, text: $data.method"></abbr>:
            </strong>
            <!-- /ko -->
        <a class="t8-lines2" data-bind="text: $data.title, attr: { href: '/stack/' + $data.id() }"></a>
        <!-- /ko -->
    </div>
    <!-- ko ifnot: $data.is404() -->
        <!-- ko if: $data.hasPath() -->
        <div class="error-path hidden-phone"><i class="fa fa-caret-right"></i> <span class="t8-default" data-bind="text: $data.path"></span></div>
        <!-- /ko -->
    <!-- /ko -->
</script>