@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

@section HeadContent {
    @RenderSection("HeadContent", required: false)
}

@Html.Partial("_Notifications")

<div class="well well-small">
    <div class="btn-toolbar" style="margin-top: 0; margin-bottom: 0;">
        <div id="daterange" class="pull-right">
            <div class="btn-group" style="display: none;" data-bind="visible: showToggleControls">
                <button type="button" class="btn" data-bind="click: function () { showHidden(!showHidden()) }, css: { active: showHidden }, attr: { title: showHidden() ? 'Hide Hidden Errors' : 'Show Hidden Errors'}">
                    <i class="fa fa-eye"></i>
                </button>
                <button type="button" class="btn" data-bind="click: function () { showFixed(!showFixed()) }, css: { active: showFixed }, attr: { title: showFixed() ? 'Hide Fixed Errors' : 'Show Fixed Errors'}">
                    <i class="fa fa-bug"></i>
                </button>
                <button type="button" class="btn" data-bind="click: function () { showNotFound(!showNotFound()) }, css: { active: showNotFound }, attr: { title: showNotFound() ? 'Hide Not Found Errors' : 'Show Not Found Errors'}">
                    <i class="fa fa-bookmark"></i>
                </button>
            </div>

            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <!-- ko if: selectedDateRange().id() !== exceptionless.Constants.CUSTOM -->
                    <span data-bind="text: selectedDateRange().friendlyName">Loading...</span> 
                    <!-- /ko -->
                    
                    <!-- ko ifnot: selectedDateRange().id() !== exceptionless.Constants.CUSTOM -->
                    <span data-bind="customDateRangeFriendlyName: selectedDateRange"></span> 
                    <!-- /ko -->
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu right-aligned">
                    <!-- ko foreach: dateRanges() -->
                    <!-- ko if: $data === $parent.selectedDateRange() -->
                    <li class="active"><a data-bind="text: friendlyName"></a></li>
                    <!-- /ko -->
                    <!-- ko ifnot: $data === $parent.selectedDateRange() -->
                    <li><a href="#" data-bind="text: friendlyName, click: $parent.changeDateRange"></a></li>
                    <!-- /ko -->
                    <!-- /ko -->
                    <li class="divider"></li>
                    <li data-bind="css: selectedDateRange().id() === exceptionless.Constants.CUSTOM ? 'active' : ''">
                        <a href="#custom-date-range-modal" data-toggle="modal">Custom</a>
                    </li>
                </ul>
            </div>
            
            <div id="custom-date-range-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="custom-date-range-modal" aria-hidden="true">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3>Select Date Range</h3>
                </div>
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="span5">
                            <div class="control-group">
                                <label for="start" class="control-label">Start</label>
                                <div class="controls">
                                    <div id="start"></div>
                                </div>
                            </div>
                        </div>
                        <div class="span5 offset1">
                            <div class="control-group">
                                <label for="end" class="control-label">End</label>
                                <div class="controls">
                                    <div id="end"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary pull-right" data-bind="click: applyCustomRange">Apply</button>
                </div>
            </div>
        </div>

        <div id="projects">
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown"><span data-bind="text: loading() ? 'Loading...' : selectedProject().name"></span> <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <!-- ko foreach: organizations() -->
                    <li class="nav-header" data-bind="text: name"></li>
                    <!-- ko foreach: projects -->
                    <!--ko if: $data === $root.selectedProject() -->
                    <li class="active"><a data-bind="text: name"></a></li>
                    <!-- /ko -->
                    <!--ko ifnot: $data === $root.selectedProject() -->
                    <li><a data-bind="attr: { href: '/project/' + id }, text: name, click: $root.onProjectClick"></a></li>
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- /ko -->
                    <li class="divider"></li>
                    <li><a href="/project/add">Add Project...</a></li>
                </ul>
            </div>
            <div class="btn-group hidden-phone">
                <a class="btn" data-bind="attr: { href: '/project/' + selectedProject().id + '/manage' }" title="Manage Project Settings"><i class="fa fa-gear"></i></a>
            </div>
        </div>
    </div>
</div>
@RenderBody()

@section FooterContent {
  @RenderSection("FooterContent", required: false)
}