<div class="pagination pagination-right" style="display: none;" data-bind="visible: pager.totalCount() === null || pager.totalCount() > pager.pageSize()">
    <div class="pager-stats pull-left">
        <span data-bind="formatNumber: pager.firstItemIndex"></span>
        -
        <span data-bind="formatNumber: pager.lastItemIndex"></span>
        <!-- ko if: pager.totalCount() !== null -->
        of
        <strong>
            <span data-bind="formatNumber: pager.totalCount"></span>
        </strong>
        total results.
        <!-- /ko -->
    </div>
    <ul>
        <!-- ko if: pager.currentPage() === 1 -->
        <li class="disabled"><span>&laquo;&laquo;</span></li>
        <!-- /ko -->
        <!-- ko ifnot: pager.currentPage() === 1 -->
        <li><a href="#" data-bind="click: function () { pager.goToPage(1); }">&laquo;&laquo;</a></li>
        <!-- /ko -->
        <!-- ko if: pager.hasPreviousPage -->
        <li><a href="#" data-bind="click: function () { pager.goToPage(pager.currentPage() - 1); }">&laquo;</a></li>
        <!-- /ko -->
        <!-- ko ifnot: pager.hasPreviousPage -->
        <li class="disabled"><span>&laquo;</span></li>
        <!-- /ko -->
        <!-- ko if: pager.totalCount() !== null -->
        <!-- ko foreach: pager.pages -->
        <!-- ko if: $data === $parent.pager.currentPage() -->
        <li class="active"><span data-bind="formatNumber: $data"></span></li>
        <!-- /ko -->
        <!-- ko if: $data !== $parent.pager.currentPage() -->
        <li><a href="#" data-bind="formatNumber: $data, click: function () { $parent.pager.goToPage($data); }"></a></li>
        <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: pager.hasNextPage -->
        <li><a href="#" data-bind="click: function () { pager.goToPage(pager.currentPage() + 1); }">&raquo;</a></li>
        <!-- /ko -->
        <!-- ko ifnot: pager.hasNextPage -->
        <li class="disabled"><span>&raquo;</span></li>
        <!-- /ko -->
        <!-- ko if: pager.totalCount() !== null -->
        <!-- ko ifnot: pager.currentPage() === pager.lastPage() -->
        <li><a href="#" data-bind="click: function () { pager.goToPage(pager.lastPage()); }">&raquo;&raquo;</a></li>
        <!-- /ko -->
        <!-- ko if: pager.currentPage() === pager.lastPage() -->
        <li class="disabled"><span>&raquo;&raquo;</span></li>
        <!-- /ko -->
        <!-- /ko -->
    </ul>
</div>