@{
    ViewBag.Title = "Page Not Found";
    Layout = "~/Views/Shared/_BareLayout.cshtml";

    string url = ViewBag.Url ?? Request.QueryString["aspxerrorpath"];
}

<div class="row">
    <div class="span6">
        <div class="widget">
            <div class="widget-header">
                <h3>Page Not Found</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <p>We're sorry but the page <b>@url</b> was not found on this site.</p>
            </div>
        </div>
    </div>
</div>
