Dockerfile*
docker-compose*
.dockerignore
.gitignore
README.md
LICENSE.txt
.vscode
.vs
.circleci
**/bin/
**/obj/
**/TestResult/
**/out/
**/node_modules/
**/.svelte-kit/
src/Exceptionless.Web/ClientApp/build/
src/Exceptionless.Web/ClientApp/test-results/
src/Exceptionless.Web/ClientApp/playwright-report/
src/Exceptionless.Web/ClientApp/blob-report/
dogfood-output/
