FORMAT: 1A
HOST: http://api.exceptionless.com/api/v1

# Exceptionless
Discover errors in your .NET app you never knew were happening and use detailed error reports to squash them with ease. Make your app Exceptionless!

# Group Event
Events related resources of the **Events API**

## Create [/event]
### Create new log event [POST]
+ Request (application/json)

        "Exceptionless is amazing!"

+ Response 200

## Get [/event/{id}]
### Get by id [GET]
+ Parameters
    + id (required, string, `537650f3b77efe23a47914f3`) ... The identifier of the organization.
    
+ Response 200 (application/json)

        {
          "id": "537b7255b77efe2474bfdd80",
          "organization_id": "537650f3b77efe23a47914f3",
          "project_id": "537650f3b77efe23a47914f4",
          "stack_id": "537b7255b77efe2474bfdd7f",
          "summary_html": null,
          "is_fixed": false,
          "is_hidden": false,
          "type": "log",
          "source": null,
          "tags": [],
          "message": "Exceptionless is amazing!",
          "data": {},
          "reference_id": null,
          "session_id": null,
          "is_critical": false,
          "is_not_found": false,
          "is_error": false
        }

## Get by organization [/event{?organization,before,after,limit}]
### List all events for an organization [GET]
+ Parameters
    + organization (optional, string, `537650f3b77efe23a47914f3`) ...The identifier of the organization.
    + before (optional, string, `537b7255b77efe2474bfdd80`) ... A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `before=obj_bar` in order to fetch the previous page of the list.
    + after (optional, string, `537b7255b77efe2474bfdd80`) ... A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `after=obj_foo` in order to fetch the next page of the list.
    + limit = `10` (optional, number, `5`) ... A limit on the number of objects to be returned. Limit can range between 1 and 100 items.

+ Response 200 (application/json)

        [
          {
            "id": "537b7255b77efe2474bfdd80",
            "organization_id": "537650f3b77efe23a47914f3",
            "project_id": "537650f3b77efe23a47914f4",
            "stack_id": "537b7255b77efe2474bfdd7f",
            "summary_html": null,
            "is_fixed": false,
            "is_hidden": false,
            "type": "log",
            "source": null,
            "tags": [],
            "message": "Exceptionless is amazing!",
            "data": {},
            "reference_id": null,
            "session_id": null,
            "is_critical": false,
            "is_not_found": false,
            "is_error": false
          }
        ]

## Get by project [/project/{projectId}/event{?before,after,limit}]
### List all events for a given project [GET]
+ Parameters
    + projectId (required, string, `537650f3b77efe23a47914f4`) ... The identifier of the project.
    + before (optional, string, `537b7255b77efe2474bfdd80`) ... A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `before=obj_bar` in order to fetch the previous page of the list.
    + after (optional, string, `537b7255b77efe2474bfdd80`) ... A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `after=obj_foo` in order to fetch the next page of the list.
    + limit = `10` (optional, number, `5`) ... A limit on the number of objects to be returned. Limit can range between 1 and 100 items.

+ Response 200 (application/json)

        [
          {
            "id": "537b7255b77efe2474bfdd80",
            "organization_id": "537650f3b77efe23a47914f3",
            "project_id": "537650f3b77efe23a47914f4",
            "stack_id": "537b7255b77efe2474bfdd7f",
            "summary_html": null,
            "is_fixed": false,
            "is_hidden": false,
            "type": "log",
            "source": null,
            "tags": [],
            "message": "Exceptionless is amazing!",
            "data": {},
            "reference_id": null,
            "session_id": null,
            "is_critical": false,
            "is_not_found": false,
            "is_error": false
          }
        ]
        
## Get by stack [/stack/{stackId}/event{?before,after,limit}]
### List all events for a given stack [GET]
+ Parameters
    + stackId (required, string, `537b7255b77efe2474bfdd7f`) ... The identifier of the stack.
    + before (optional, string, `537b7255b77efe2474bfdd80`) ... A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `before=obj_bar` in order to fetch the previous page of the list.
    + after (optional, string, `537b7255b77efe2474bfdd80`) ... A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `after=obj_foo` in order to fetch the next page of the list.
    + limit = `10` (optional, number, `5`) ... A limit on the number of objects to be returned. Limit can range between 1 and 100 items.

+ Response 200 (application/json)

        [
          {
            "id": "537b7255b77efe2474bfdd80",
            "organization_id": "537650f3b77efe23a47914f3",
            "project_id": "537650f3b77efe23a47914f4",
            "stack_id": "537b7255b77efe2474bfdd7f",
            "summary_html": null,
            "is_fixed": false,
            "is_hidden": false,
            "type": "log",
            "source": null,
            "tags": [],
            "message": "Exceptionless is amazing!",
            "data": {},
            "reference_id": null,
            "session_id": null,
            "is_critical": false,
            "is_not_found": false,
            "is_error": false
          }
        ]

# Group Organization
Organization related resources of the **Organization API**

## Create [/organization]
### Create new organization [POST]
+ Request (application/json)

        { "name": "Acme" }

+ Response 201 (application/json)

        { "id": "537650f3b77efe23a47914f3", "name": "Acme" }

## Get all [/organization{?before,after,limit}]
### List all organizations [GET]
+ Parameters
    + before (optional, string, `100650f3b77efe23a4791400`) ... A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `before=obj_bar` in order to fetch the previous page of the list.
    + after (optional, string, `100650f3b77efe23a4791400`) ... A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `after=obj_foo` in order to fetch the next page of the list.
    + limit = `10` (optional, number, `5`) ... A limit on the number of objects to be returned. Limit can range between 1 and 100 items.

+ Response 200 (application/json)

        [{ "id": "537650f3b77efe23a47914f3", "name": "Acme" }]

## Get, Update, Remove [/organization/{id}]
+ Parameters
    + id (required, string, `537650f3b77efe23a47914f3`) ... The identifier of the organization.

### Get by id [GET]
+ Response 200 (application/json)
    
        { "id": "537650f3b77efe23a47914f3", "name": "Acme" }

### Update organization [PATCH]
+ Request (application/json)

        { "name": "Updated Acme" }

+ Response 200 (application/json)

        { "id": "537650f3b77efe23a47914f3", "name": "Updated Acme" }

### Remove organization [DELETE]
+ Response 204

## Manage users [/organization/{id}/user/{email}]
+ Parameters
    + id (required, string, `537650f3b77efe23a47914f3`) ... The identifier of the organization.
    + email (required, string, `noreply@exceptionless.com`) ... The email address of the user you wish to remove from your organization.

### Create new user [POST]
+ Response 200

### Remove user [DELETE]
+ Response 200

## Add custom data [/organization/{id}/data/{key}{?value}]
### Add custom data value [POST]
+ Parameters
    + id (required, string, `537650f3b77efe23a47914f3`) ... The identifier of the organization.
    + key (required, string, `zip-code`) ... The key name of the data object.
    + value (required, string, `90210`) ... Any string value.

+ Response 200

## Remove custom data [/organization/{id}/data/{key}]
### Remove custom data value [DELETE]
+ Parameters
    + id (required, string, `537650f3b77efe23a47914f3`) ... The identifier of the organization.
    + key (required, string, `zip-code`) ... The key name of the data object.
    
+ Response 200

## Check for unique name [/organization/check-name/{name}]
### Check for unique organization name [GET]
Returns a `404` status code if an existing orgnaization with the specified name does not exist.

+ Parameters
    + name (required, string, `Acme`) ... The organization name to check.

+ Response 404

# Group Project
Project related resources of the **Project API**

## Create [/project]
### Create new project [POST]
+ Request (application/json)

        { "organization_id": "537650f3b77efe23a47914f3", "name": "Disintegrating Pistol" }

+ Response 201 (application/json)

        { 
            "id": "537650f3b77efe23a47914f4",
            "organization_id": "537650f3b77efe23a47914f3",
            "name": "Disintegrating Pistol",
            "time_zone": "Central Standard Time",
            "api_keys": [
              "e3d51ea621464280bbcb79c11fd6483e"
            ],
            "configuration": {
              "version": 0,
              "settings": {
                "include_conditional_data": "true"
              }
            },
            "notification_settings": {
              "537b6e77b77efe102444053d": {
                "mode": 1,
                "send_daily_summary": true,
                "report_critical_errors": true,
                "report_regressions": true,
                "report404_errors": false,
                "report_known_bot_errors": false
              }
            },
            "data": {},
            "promoted_tabs": [],
            "custom_content": null,
            "stack_count": 1,
            "event_count": 1,
            "total_event_count": 1,
        }

## Get by organization [/organization/{organizationId:objectid}/projects{?before,after,limit}]
### List all projects for a given organization [GET]
+ Parameters
    + organizationId (optional, string, `537650f3b77efe23a47914f3`) ... The identifier of the organization.
    + before (optional, string, `537650f3b77efe23a47914f4`) ... A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `before=obj_bar` in order to fetch the previous page of the list.
    + after (optional, string, `537650f3b77efe23a47914f4`) ... A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `after=obj_foo` in order to fetch the next page of the list.
    + limit = `10` (optional, number, `5`) ... A limit on the number of objects to be returned. Limit can range between 1 and 100 items.

+ Response 200 (application/json)

        [{ 
            "id": "537650f3b77efe23a47914f4",
            "organization_id": "537650f3b77efe23a47914f3",
            "name": "Disintegrating Pistol",
            "time_zone": "Central Standard Time",
            "api_keys": [
              "e3d51ea621464280bbcb79c11fd6483e"
            ],
            "configuration": {
              "version": 0,
              "settings": {
                "include_conditional_data": "true"
              }
            },
            "notification_settings": {
              "537b6e77b77efe102444053d": {
                "mode": 1,
                "send_daily_summary": true,
                "report_critical_errors": true,
                "report_regressions": true,
                "report404_errors": false,
                "report_known_bot_errors": false
              }
            },
            "data": {},
            "promoted_tabs": [],
            "custom_content": null,
            "stack_count": 1,
            "event_count": 1,
            "total_event_count": 1,
        }]

## Get, Update, Remove [/project/{id}]
+ Parameters
    + id (required, string, `537650f3b77efe23a47914f4`) ... The identifier of the project.

### Get by id [GET]
+ Response 200 (application/json)

        { 
            "id": "537650f3b77efe23a47914f4",
            "organization_id": "537650f3b77efe23a47914f3",
            "name": "Disintegrating Pistol",
            "time_zone": "Central Standard Time",
            "api_keys": [
              "e3d51ea621464280bbcb79c11fd6483e"
            ],
            "configuration": {
              "version": 0,
              "settings": {
                "include_conditional_data": "true"
              }
            },
            "notification_settings": {
              "537b6e77b77efe102444053d": {
                "mode": 1,
                "send_daily_summary": true,
                "report_critical_errors": true,
                "report_regressions": true,
                "report404_errors": false,
                "report_known_bot_errors": false
              }
            },
            "data": {},
            "promoted_tabs": [],
            "custom_content": null,
            "stack_count": 1,
            "event_count": 1,
            "total_event_count": 1,
        }

### Update project [PATCH]
+ Request (application/json)

        { "name": "Updated Disintegrating Pistol" }

+ Response 201 (application/json)

        { 
            "id": "537650f3b77efe23a47914f4",
            "organization_id": "537650f3b77efe23a47914f3",
            "name": "Updated Disintegrating Pistol",
            "time_zone": "Central Standard Time",
            "api_keys": [
              "e3d51ea621464280bbcb79c11fd6483e"
            ],
            "configuration": {
              "version": 0,
              "settings": {
                "include_conditional_data": "true"
              }
            },
            "notification_settings": {
              "537b6e77b77efe102444053d": {
                "mode": 1,
                "send_daily_summary": true,
                "report_critical_errors": true,
                "report_regressions": true,
                "report404_errors": false,
                "report_known_bot_errors": false
              }
            },
            "data": {},
            "promoted_tabs": [],
            "custom_content": null,
            "stack_count": 1,
            "event_count": 1,
            "total_event_count": 1,
        }

### Remove project [DELETE]
+ Response 204

## Get default api key [/project/{id}/apikey/get-default]
### Get the default api key [GET]
+ Parameters
    + id (required, string, `537650f3b77efe23a47914f4`) ... The identifier of the project.
    
+ Response 200 (application/json)

        { "key": "e3d51ea621464280bbcb79c11fd6483e" }

## Create api key [/project/{id}/apikey]
### Create a new api key [POST]
+ Parameters
    + id (required, string, `537650f3b77efe23a47914f4`) ... The identifier of the project.

+ Response 200 (application/json)

        { "key": "100650f3b77efe23a4791411" }

## Remove api key [/project/{id}/apikey/{apikey}]
### Remove api key [DELETE]
+ Parameters
    + id (required, string, `537650f3b77efe23a47914f4`) ... The identifier of the project.
    + apikey (required, string, `100650f3b77efe23a4791411`) ... The api key that should be removed.

+ Response 200

## Reset project data [/project/{id}/reset-data]
### Reset project data [GET]
+ Parameters
    + id (required, string, `537650f3b77efe23a47914f4`) ... The identifier of the project.
    
+ Response 200

## Get configuration settings [/project/{id}/config]
### Get the project configuration object [GET]
+ Parameters
    + id (required, string, `537650f3b77efe23a47914f4`) ... The identifier of the project.

+ Response 200 (application/json)

        {
          "version": 0,
          "settings": {
            "include_conditional_data": "true"
          }
        }

## Add configuration setting [/project/{id}/config/{key}{?value}]
### Add configuration value [POST]
+ Parameters
    + id (required, string, `537650f3b77efe23a47914f4`) ... The identifier of the project.
    + key (required, string, `zip-code`) ... The key name of the config object.
    + value (required, string, `90210`) ... Any config value.

+ Response 200

## Remove configuration setting [/project/{id}/config/{key}]
### Remove configuration setting [DELETE]
+ Parameters
    + id (required, string, `537650f3b77efe23a47914f4`) ... The identifier of the project.
    + key (required, string, `zip-code`) ... The key name of the config object.
    
+ Response 200

## Add custom data [/project/{id}/data/{key}{?value}]
### Add custom data value [POST]
+ Parameters
    + id (required, string, `537650f3b77efe23a47914f4`) ... The identifier of the project.
    + key (required, string, `zip-code`) ... The key name of the data object.
    + value (required, string, `90210`) ... Any string value.

+ Response 200

## Remove custom data [/project/{id}/data/{key}]
### Remove custom data value [DELETE]
+ Parameters
    + id (required, string, `537650f3b77efe23a47914f4`) ... The identifier of the project.
    + key (required, string, `zip-code`) ... The key name of the data object.
    
+ Response 200

## Promoted Tabs [/project/{id}/promotedtabs/{name}]
+ Parameters
    + id (required, string, `537650f3b77efe23a47914f4`) ... The identifier of the project.
    + name (required, string, `Machine Info`) ... The tab name.

### Promote Tab [POST]
+ Response 200

### Demote Tab [DELETE]
+ Response 200

## Get all notification settings [/project/{id}/notification]
### Get the project's notification settings [GET]
+ Parameters
    + id (required, string, `537650f3b77efe23a47914f4`) ... The identifier of the project.
    
+ Response 200 (application/json)

        {
          "537b6e77b77efe102444053d": {
            "mode": 1,
            "send_daily_summary": true,
            "report_critical_errors": true,
            "report_regressions": true,
            "report404_errors": false,
            "report_known_bot_errors": false
          },
          "537b6e77b77efe102444053e": {
            "mode": 2,
            "send_daily_summary": true,
            "report_critical_errors": true,
            "report_regressions": true,
            "report404_errors": false,
            "report_known_bot_errors": false
          }
        }
    
## User notification settings [/project/{id}/notification/{userId}]
+ Parameters
    + id (required, string, `537650f3b77efe23a47914f4`) ... The identifier of the project.
    + userId (required, string, `537b6e77b77efe102444053d`) ... A identifier of the user.

### Get user notification settings [GET]
+ Response 200 (application/json)

        {
            "mode": 1,
            "send_daily_summary": true,
            "report_critical_errors": true,
            "report_regressions": true,
            "report404_errors": false,
            "report_known_bot_errors": false
        }

### Set user notification settings [POST]
+ Request (application/json)

        {
            "mode": 2,
            "send_daily_summary": false,
            "report_critical_errors": true,
            "report_regressions": true,
            "report404_errors": false,
            "report_known_bot_errors": false
        }

+ Response 200

### Remove user notification settings [DELETE]
+ Response 200
    
## Check for unique name [/project/check-name/{name}]
### Check for unique project name [GET]
Returns a `404` status code if an existing project with the specified name does not exist.

+ Parameters
    + name (required, string, `Acme`) ... The organization name to check.

+ Response 404

# Group Project Hook
Project Hook related resources of the **Project Hook  API**

## Create [/projecthook]
### Create new project hook [POST]
To create a new project hook, you must specify project_id, url and event_types.

+ Request (application/json)

        { 
            "project_id": "537650f3b77efe23a47914f4", 
            "url": "http://exceptionless.com", 
            "event_types": ["NewError", "ErrorRegression", "CriticalError", "StackPromoted"] 
        }

+ Response 201 (application/json)

        {
            "id": "537b84cfb77efe2474072488",
            "project_id": "537650f3b77efe23a47914f4",
            "url": "http://exceptionless.com",
            "event_types": [
                "NewError",
                "ErrorRegression",
                "CriticalError",
                "StackPromoted"
            ]
        }

## Get, Update, Remove [/projecthook/{id}]
+ Parameters
    + id (required, string, `537b84cfb77efe2474072488`) ... The identifier of the project hook.

### Get by id [GET]
+ Response 200 (application/json)

        {
            "id": "537b84cfb77efe2474072488",
            "project_id": "537650f3b77efe23a47914f4",
            "url": "http://exceptionless.com",
            "event_types": [
                "NewError",
                "ErrorRegression",
                "CriticalError",
                "StackPromoted"
            ]
        }

### Update project hook [PATCH]
+ Request (application/json)

        { "url": "https://mycompanywebsite.com" }

+ Response 200 (application/json)

        {
            "id": "537b84cfb77efe2474072488",
            "project_id": "537650f3b77efe23a47914f4",
            "url": "https://mycompanywebsite.com",
            "event_types": [
                "NewError",
                "ErrorRegression",
                "CriticalError",
                "StackPromoted"
            ]
        }

### Remove project hook [DELETE]
+ Response 204

## Get by project [/projecthook/project/{projectId}{?before,after,limit}]
### List all project hooks for a given project [GET]
+ Parameters
    + projectId (required, string, `537650f3b77efe23a47914f4`) ... The identifier of the project.
    + before (optional, string, `537b84cfb77efe2474072488`) ... A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `before=obj_bar` in order to fetch the previous page of the list.
    + after (optional, string, `537b84cfb77efe2474072488`) ... A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `after=obj_foo` in order to fetch the next page of the list.
    + limit = `10` (optional, number, `5`) ... A limit on the number of objects to be returned. Limit can range between 1 and 100 items.

+ Response 200 (application/json)

        [{
            "id": "537b84cfb77efe2474072488",
            "project_id": "537650f3b77efe23a47914f4",
            "url": "http://exceptionless.com",
            "event_types": [
                "NewError",
                "ErrorRegression",
                "CriticalError",
                "StackPromoted"
            ]
        }]

# Group Stack
Stack related resources of the **Stack API**

## Get by organization [/stack]

### List all projects [GET]

+ Parameters
    + organizationId (optional, string, `537650f3b77efe23a47914f3`) ... The identifier of the organization.
    + before (optional, string, `100650f3b77efe23a4791400`) ... A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `before=obj_bar` in order to fetch the previous page of the list.
    + after (optional, string, `100650f3b77efe23a4791400`) ... A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `after=obj_foo` in order to fetch the next page of the list.
    + limit = `10` (optional, number, `5`) ... A limit on the number of objects to be returned. Limit can range between 1 and 100 items.

+ Response 200 (application/json)

        [{
          "id": "537650f3b77efe23a4791000", "title": "My Custom Error"
        }, {
          "id": "537650f3b77efe23a4791001", "title": "My Custom Error"
        }]

## Get new stacks by project [/stack/project/{projectId}/new]

### Get new stacks by project [GET]

+ Parameters
    + projectId (optional, string, `537650f3b77efe23a47914f3`) ... The identifier of the project.
    + before (optional, string, `100650f3b77efe23a4791400`) ... A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `before=obj_bar` in order to fetch the previous page of the list.
    + after (optional, string, `100650f3b77efe23a4791400`) ... A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `after=obj_foo` in order to fetch the next page of the list.
    + limit = `10` (optional, number, `5`) ... A limit on the number of objects to be returned. Limit can range between 1 and 100 items.

+ Response 200 (application/json)

        [{
          "id": "537650f3b77efe23a4791000", "title": "My Custom Error"
        }, {
          "id": "537650f3b77efe23a4791001", "title": "My Custom Error"
        }]

## Get most recent stacks by project [/stack/project/{projectId}/recent]

### Get most recent stacks by project [GET]

+ Parameters
    + projectId (optional, string, `537650f3b77efe23a47914f3`) ... The identifier of the project.
    + before (optional, string, `100650f3b77efe23a4791400`) ... A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `before=obj_bar` in order to fetch the previous page of the list.
    + after (optional, string, `100650f3b77efe23a4791400`) ... A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `after=obj_foo` in order to fetch the next page of the list.
    + limit = `10` (optional, number, `5`) ... A limit on the number of objects to be returned. Limit can range between 1 and 100 items.

+ Response 200 (application/json)

        [{
          "id": "537650f3b77efe23a4791000", "title": "My Custom Error"
        }, {
          "id": "537650f3b77efe23a4791001", "title": "My Custom Error"
        }]

## Get most frequent stacks by project [/stack/project/{projectId}/frequent]

### Gets the most frequent stacks for a project [GET]

+ Parameters
    + projectId (required, string, `537650f3b77efe23a47914f3`) ... The identifier of the project.
    + limit = `10` (optional, number, `5`) ... A limit on the number of objects to be returned. Limit can range between 1 and 100 items.
    + page = `1` (optional, number, `1`) ... The `page` parameter is used for pagination. This value must be greater than 0.
    + start (optional, date, `2015-01-1T00:00:00`) ... The starting date that the stats should be limited by. If start is not specified then thats will not be limited by a starting date.
    + end (optional, date, `2015-12-31T00:00:00`) ... The ending date that the stats should be limited by. If end is not specified then the current date will be used.
    + hidden = `false` (optional, boolean, `false`) ... Controls whether hidden events/stacks are included in the results.
    + fixed = `false` (optional, boolean, `false`) ... Controls whether fixed events/stacks are included in the results.
    + notfound = `false` (optional, boolean, `false`) ... Controls whether 404 events/stacks are included in the results.

+ Response 200 (application/json)

        [{
          "id": "537650f3b77efe23a4791000", "title": "My Custom Error"
        }, {
          "id": "537650f3b77efe23a4791001", "title": "My Custom Error"
        }]

## Get by ID [/stack/{id}]

+ Parameters
    + id (required, string, `537650f3b77efe23a4791000`) ... The identifier of the stack.

### Retrieve stack [GET]
A single stack object with all its details

+ Response 200 (application/json)
    + Body

            { "id": "537650f3b77efe23a4791000", "title": "My Custom Error" }

## Reset stack data [/stack/{id}/reset-data]
+ Parameters
    + id (required, string, `537650f3b77efe23a47914f1`) ... The identifier of the stack.

### Reset project data [GET]
+ Response 200

## Mark fixed [/stack/{id}/mark-fixed]
+ Parameters
    + id (required, string, `537650f3b77efe23a47914f1`) ... The identifier of the stack.

### Mark fixed [POST]
+ Response 200

### Mark not fixed [DELETE]
+ Response 200

## Mark hidden [/stack/{id}/mark-hidden]
+ Parameters
    + id (required, string, `537650f3b77efe23a47914f1`) ... The identifier of the stack.

### Mark hidden [POST]
+ Response 200

### Mark not hidden [DELETE]
+ Response 200

## Promote to external [/stack/{id}/promote]
+ Parameters
    + id (required, string, `537650f3b77efe23a47914f1`) ... The identifier of the stack.

### Promote to external service [POST]
+ Response 200

## Add reference link [/stack/add-link]

### Add reference link [POST]

+ Request (application/json)

        { "stack": "537650f3b77efe23a47914f1", "link": "https://exceptionless.com" }

+ Response 200

# Group Stats
Stats related resources of the **Stats API**

## Get by stack [/stats/stack/{stackId}]

### Get stats documents for a specific stack [GET]

+ Parameters
    + stackId (required, string, `537650f3b77efe23a47914f3`) ... The identifier of the stack.
    + start (optional, date, `2015-01-1T00:00:00`) ... The starting date that the stats should be limited by. If start is not specified then thats will not be limited by a starting date.
    + end (optional, date, `2015-12-31T00:00:00`) ... The ending date that the stats should be limited by. If end is not specified then the current date will be used.

+ Response 200 (application/json)

        [{
          "TODO": "537650f3b77efe23a4791000",
        }, {
          "TODO": "537650f3b77efe23a4791001",
        }]

## Get by project [/stats/project/{projectId}]

### Get stats documents for a specific project [GET]

+ Parameters
    + projectId (required, string, `537650f3b77efe23a47914f3`) ... The identifier of the project.
    + start (optional, date, `2015-01-1T00:00:00`) ... The starting date that the stats should be limited by. If start is not specified then thats will not be limited by a starting date.
    + end (optional, date, `2015-12-31T00:00:00`) ... The ending date that the stats should be limited by. If end is not specified then the current date will be used.
    + hidden = `false` (optional, boolean, `false`) ... Controls whether hidden events/stacks are included in the results.
    + fixed = `false` (optional, boolean, `false`) ... Controls whether fixed events/stacks are included in the results.
    + notfound = `false` (optional, boolean, `false`) ... Controls whether 404 events/stacks are included in the results.

+ Response 200 (application/json)

        [{
          "TODO": "537650f3b77efe23a4791000",
        }, {
          "TODO": "537650f3b77efe23a4791001",
        }]
        
# Group User
Users related resources of the **Users API**

## Get by organization [/user/organization/{organizationId}]
### List all users for an organization [GET]
+ Parameters
    + organizationId (optional, string, `537650f3b77efe23a47914f3`) ...The identifier of the organization.
    + limit = `10` (optional, number, `5`) ... A limit on the number of objects to be returned. Limit can range between 1 and 100 items.
    + page = `1` (optional, number, `1`) ... The `page` parameter is used for pagination. This value must be greater than 0.

+ Response 200 (application/json)

        [{
          "TODO": "537650f3b77efe23a4791000",
        }, {
          "TODO": "537650f3b77efe23a4791001",
        }]