<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="exceptionless-nightly" value="https://www.myget.org/F/exceptionless/api/v3/index.json" />
    <add key="LoreSoft" value="http://www.myget.org/F/loresoft/api/v3/index.json" />
    <add key="dotnet-core-nightly" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
  </packageSources>
</configuration>