<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="exceptionless-ci" value="https://www.myget.org/F/exceptionless/api/v3/index.json" />
    <!--<add key="foundatio" value="https://nuget.pkg.github.com/FoundatioFx/index.json" />-->
  </packageSources>
</configuration>