---
layout: layouts/base.vto
---
<div class="page-header margin-top">
  <h1>{{ title }}</h1>
</div>

<div id="wrap" class="container" role="document">
  <div id="content" class="row-fluid">
    <div id="main" class="span12" role="main">
      <div class="well">
        {{ content }}
      </div>
    </div>
  </div>
</div>