<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

  <connectionStrings>
    <add name="MongoConnectionString" connectionString="mongodb://localhost/exceptionless" />
    <add name="RedisConnectionString" connectionString="localhost" />
    <add name="ElasticSearchConnectionString" connectionString="http://localhost:9200" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.1.0" newVersion="2.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
