<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
    <add assembly="Exceptionless.NLog"/>
  </extensions>

  <targets async="true">
    <target xsi:type="ColoredConsole" name="console" />

    <target name="elastic" xsi:type="BufferingWrapper" flushTimeout="1000">
      <target xsi:type="ElasticSearch" connectionStringName="ElasticSearchConnectionString" layout="${message}">
        <field name="source" layout="${logger}" />
        <field name="host" layout="${machinename}" />
        <field name="project" layout="${event-context:item=project}" />
        <field name="windows-identity" layout="${windows-identity:userName=True:domain=False}" />
        <field name="process" layout="${processname}" />
        <field name="job" layout="${gdc:item=job}" />
      </target>
    </target>

    <target name="exceptionless" xsi:type="Exceptionless">
      <field name="host" layout="${machinename}" />
      <field name="process" layout="${processname}" />
      <field name="project" layout="${event-context:item=project}" />
    </target>

    <target xsi:type="Trace" name="trace" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console,exceptionless" />
  </rules>
</nlog>
