<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="3.1.0.0" targetFramework="net451" />
  <package id="NLog.Config" version="3.1.0.0" targetFramework="net451" />
  <package id="NLog.Schema" version="3.1.0.0" targetFramework="net451" />
  <package id="NLog.Xml" version="3.1.0.30" targetFramework="net451" />
  <package id="SimpleInjector" version="2.6.1" targetFramework="net451" />
  <package id="SimpleInjector.Extensions.ExecutionContextScoping" version="2.6.1" targetFramework="net451" />
  <package id="SimpleInjector.Packaging" version="2.6.1" targetFramework="net451" />
</packages>