<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.9.5229.26438" targetFramework="net451" />
  <package id="Antlr" version="3.5.0.2" targetFramework="net45" />
  <package id="AutoMapper" version="3.2.1" targetFramework="net451" />
  <package id="BookSleeve" version="1.3.41" targetFramework="net451" />
  <package id="bootbox" version="3.3" allowedVersions="[3.3,4)" targetFramework="net45" />
  <package id="bootbox.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net451" />
  <package id="bootstrap" version="2.3.2" targetFramework="net451" allowedVersions="[2.3.2,3)" />
  <package id="Bootstrap.Datepicker" version="1.3.0" targetFramework="net451" />
  <package id="bootstrap.datepicker.TypeScript.DefinitelyTyped" version="0.1.0" targetFramework="net451" />
  <package id="bootstrap.TypeScript.DefinitelyTyped" version="0.0.9" targetFramework="net451" />
  <package id="BundleTransformer.Core" version="1.8.30" targetFramework="net451" />
  <package id="BundleTransformer.Less" version="1.8.31" targetFramework="net451" />
  <package id="BundleTransformer.MicrosoftAjax" version="1.8.30" targetFramework="net451" />
  <package id="d3" version="3.4.4" targetFramework="net451" />
  <package id="d3.TypeScript.DefinitelyTyped" version="0.5.8" targetFramework="net451" />
  <package id="DataAnnotationsExtensions" version="1.1.0.0" targetFramework="net45" />
  <package id="DataAnnotationsExtensions.MVC3" version="1.1.0.0" targetFramework="net45" />
  <package id="DotNetOpenAuth.AspNet" version="4.3.4.13329" targetFramework="net451" />
  <package id="DotNetOpenAuth.Core" version="4.3.4.13329" targetFramework="net451" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.3.4.13329" targetFramework="net451" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.3.4.13329" targetFramework="net451" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.3.4.13329" targetFramework="net451" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.3.4.13329" targetFramework="net451" />
  <package id="font-awesome" version="4.0.3" targetFramework="net451" />
  <package id="foolproof" version="0.9.4517" targetFramework="net45" />
  <package id="GravatarHelper" version="3.2.3" targetFramework="net451" />
  <package id="Handlebars.js" version="1.3.0.0" targetFramework="net451" />
  <package id="handlebars.TypeScript.DefinitelyTyped" version="0.1.2" targetFramework="net451" />
  <package id="Html5EditorTemplates" version="1.0.2" targetFramework="net45" />
  <package id="ilmerge" version="2.13.0307" targetFramework="net45" />
  <package id="JavaScriptEngineSwitcher.ConfigurationIntelliSense" version="1.1.3" targetFramework="net451" />
  <package id="JavaScriptEngineSwitcher.Core" version="1.1.3" targetFramework="net451" />
  <package id="JavaScriptEngineSwitcher.Jurassic" version="1.1.6" targetFramework="net451" />
  <package id="jQuery" version="2.1.0" targetFramework="net451" />
  <package id="jquery.livestampjs.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net451" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="0.8.6" targetFramework="net451" />
  <package id="jQuery.Validation" version="1.12.0" targetFramework="net451" />
  <package id="jquery.validation.TypeScript.DefinitelyTyped" version="0.1.6" targetFramework="net451" />
  <package id="Knockout.Mapping" version="2.4.0" targetFramework="net45" />
  <package id="knockout.mapping.TypeScript.DefinitelyTyped" version="0.0.9" targetFramework="net451" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="0.5.1" targetFramework="net451" />
  <package id="Knockout.Validation" version="1.0.1" targetFramework="net45" />
  <package id="knockout.validation.TypeScript.DefinitelyTyped" version="0.1.3" targetFramework="net451" />
  <package id="knockoutjs" version="3.1.0" targetFramework="net451" />
  <package id="KoLite" version="1.1.0" targetFramework="net45" />
  <package id="kolite.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.SignalR" version="2.0.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.0.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.0.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.SignalR.Redis" version="2.0.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.0.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Tracing" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages.Data" version="3.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="3.1.2" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net451" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="3.1.2" targetFramework="net451" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.1.2" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.2.22" targetFramework="net451" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Moment.js" version="2.6.0" targetFramework="net451" />
  <package id="moment.TypeScript.DefinitelyTyped" version="0.2.2" targetFramework="net451" />
  <package id="mongocsharpdriver" version="1.9.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net451" />
  <package id="NLog" version="2.1.0" targetFramework="net45" />
  <package id="NLog.Mongo" version="1.1.0.16" targetFramework="net451" />
  <package id="NLog.Xml" version="2.1.0.24" targetFramework="net45" />
  <package id="numeral" version="1.5.3" targetFramework="net451" />
  <package id="numeraljs.TypeScript.DefinitelyTyped" version="0.0.4" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="RazorEngine" version="3.4.1" targetFramework="net451" />
  <package id="rickshaw" version="1.4.6" targetFramework="net451" />
  <package id="routedebugger" version="2.1.4.0" targetFramework="net45" />
  <package id="signalr.TypeScript.DefinitelyTyped" version="0.1.4" targetFramework="net451" />
  <package id="SimpleInjector" version="2.5.0" targetFramework="net451" />
  <package id="SimpleInjector.Extensions.ExecutionContextScoping" version="2.5.0" targetFramework="net451" />
  <package id="SimpleInjector.Integration.Web" version="2.5.0" targetFramework="net451" />
  <package id="SimpleInjector.Integration.Web.Mvc" version="2.5.0" targetFramework="net451" />
  <package id="SimpleInjector.Integration.WebApi" version="2.5.0" targetFramework="net451" />
  <package id="SimpleInjector.Packaging" version="2.5.0" targetFramework="net451" />
  <package id="Spin.js" version="2.0" targetFramework="net451" />
  <package id="spin.TypeScript.DefinitelyTyped" version="0.1.2" targetFramework="net451" />
  <package id="Stripe.net" version="2.1.0" targetFramework="net451" />
  <package id="toastr" version="2.0.2" targetFramework="net451" />
  <package id="toastr.TypeScript.DefinitelyTyped" version="0.1.0" targetFramework="net451" />
  <package id="trunk8.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net451" />
  <package id="UAParser" version="1.0.2.0" targetFramework="net451" />
  <package id="underscore.js" version="1.6.0" targetFramework="net451" />
  <package id="underscore.TypeScript.DefinitelyTyped" version="0.3.9" targetFramework="net451" />
  <package id="WebActivator" version="1.5.3" targetFramework="net45" />
  <package id="WebActivatorEx" version="2.0.5" targetFramework="net451" />
  <package id="WebGrease" version="1.6.0" targetFramework="net451" />
  <package id="YamlDotNet" version="3.1.1" targetFramework="net451" />
  <package id="ZeroClipboard" version="1.3.2" targetFramework="net451" />
  <package id="zeroclipboard.TypeScript.DefinitelyTyped" version="0.1.4" targetFramework="net451" />
</packages>