<ul class="nav navbar-nav">
  <li class="dropdown" is-open="vm.isDropDownOpen" ng-mouseenter="vm.isDropDownOpen = true"  ng-mouseleave="vm.isDropDownOpen = false">
    <a class="dropdown-toggle">
      <i class="fa fa-fw fa-search fa-lg" ng-class="{'text-success': vm.hasFilter() }"></i>
    </a>

    <div class="dropdown-menu search-drop-down" role="menu">
      <form role="form">
        <div class="form-group">
          <label for="search">Filter</label>
          <input id="search" type="search" class="form-control" placeholder="Criteria" ng-model="vm.filter" ng-model-options="{ debounce: 1000 }" ng-change="vm.setFilter(vm.filter)">
        </div>

        <div class="form-group">
          <label for="includeFixed">Include Fixed</label>
          <label class="i-switch i-switch-md bg-info m-t-xs m-r">
            <input id="includeFixed" type="checkbox" ng-model="vm.includeFixed" ng-model-options="{ debounce: 1000 }" ng-change="vm.setIncludeFixed(vm.includeFixed)"><i></i>
          </label>
         </div>

        <div class="form-group">
          <label for="includeHidden">Include Hidden</label>
          <label class="i-switch i-switch-md bg-info m-t-xs m-r">
            <input id="includeHidden" type="checkbox" ng-model="vm.includeHidden" ng-model-options="{ debounce: 1000 }" ng-change="vm.setIncludeHidden(vm.includeHidden)"><i></i>
          </label>
        </div>

        <button type="submit" class="btn btn-default pull-right" ng-click="vm.clearFilter()">Clear</button>
      </form>
    </div>
  </li>
</ul>
