<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <CodeCoverage>
    <ModulePaths>
      <Include>
        <ModulePath>.*Exceptionless\.(AppHost|Core|Insulation|Web)\.dll$</ModulePath>
      </Include>
    </ModulePaths>

    <Sources>
      <Exclude>
        <Source>.*/obj/.*</Source>
        <Source>.*\\obj\\.*</Source>
      </Exclude>
    </Sources>

    <Attributes>
      <Exclude>
        <Attribute>^System.Diagnostics.DebuggerHiddenAttribute$</Attribute>
        <Attribute>^System.Diagnostics.DebuggerNonUserCodeAttribute$</Attribute>
        <Attribute>^System.Runtime.CompilerServices.CompilerGeneratedAttribute$</Attribute>
        <Attribute>^System.CodeDom.Compiler.GeneratedCodeAttribute$</Attribute>
        <Attribute>^System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverageAttribute$</Attribute>
      </Exclude>
    </Attributes>
  </CodeCoverage>
</Configuration>
