<form name="addReferenceForm" role="form">
  <div class="modal-header dialog-header-confirm">
    <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
    <h4 class="modal-title">Please enter a Reference Link</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label for="url">Reference Link</label>
      <input ID="url" name="url" type="url" class="form-control input-lg" ng-model="vm.data.url"
             placeholder="Please enter a valid URL" required>

      <div class="error" ng-if="addReferenceForm.url.$touched || addReferenceForm.$submitted">
        <small ng-if="addReferenceForm.url.$error.url">
          Please enter a valid url.
        </small>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-default" ng-click="vm.save(addReferenceForm.$valid)">Save Reference Link
    </button>
    <button type="button" class="btn btn-primary" ng-click="vm.cancel()">Cancel</button>
  </div>
</form>
