<div class="hbox hbox-auto-xs hbox-auto-sm" refresh-on="filterChanged StackChanged eventOccurrence" refresh-action="vm.get()" refresh-debounce="1000">
  <div class="wrapper-md">
    <div class="row">
      <div class="col-sm-12">
        <div class="row row-sm text-center">
          <div class="col-xs-4">
            <div class="dashboard-block">
              <div class="rotate">
                <i class="fa fa-calendar fa-4x"></i>
              </div>
              <div class="details">
                <span class="title">Total</span>
                <span class="sub">{{vm.stats.total || 0 | number : 0}}</span>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="dashboard-block">
              <div class="rotate">
                <i class="fa fa-arrow-circle-left fa-4x"></i>
              </div>
              <div class="details">
                <span class="title">First</span>
                <span class="sub visible-md visible-lg"><timeago date="vm.stats.first_occurrence"></timeago></span>
                <span class="sub visible-sm">{{vm.stats.first_occurrence | date:'shortDate' }}</span>
                <span class="sub visible-xs">{{vm.stats.first_occurrence | date:'M/d' }}</span>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="dashboard-block">
              <div class="rotate">
                <i class="fa fa-arrow-circle-right  fa-4x"></i>
              </div>
              <div class="details">
                <span class="title">Last</span>
                <span class="sub visible-md visible-lg"><timeago date="vm.stats.last_occurrence"></timeago></span>
                <span class="sub visible-sm">{{vm.stats.last_occurrence | date:'shortDate' }}</span>
                <span class="sub visible-xs">{{vm.stats.last_occurrence | date:'M/d' }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Stack
        <span class="labels">
          <span class="label label-success" ng-if="vm.isFixed()">
              <span class="hidden-xs">FIXED</span>
              <span class="visible-xs">F</span>
          </span>
          <span class="label label-success" ng-if="vm.isRegressed()">
              <span class="hidden-xs">REGRESSED</span>
              <span class="visible-xs">R</span>
          </span>
          <span class="label label-success" ng-if="vm.isHidden()">
              <span class="hidden-xs">HIDDEN</span>
              <span class="visible-xs">H</span>
          </span>
        </span>

        <div class="pull-right btn-toolbar">
          <div class="btn-group btn-group-sm">
            <button class="btn btn-default" ng-click="vm.updateIsFixed()"
                    title="{{vm.isFixed() ? 'Mark this stack as not fixed' : 'Mark this stack as fixed'}}">
              {{vm.isFixed() ? 'Mark Not Fixed' : 'Mark Fixed' }}
            </button>
          </div>
          <div class="btn-group btn-group-sm">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <i class="visible-xs fa fa-fw fa-gear"></i><span class="hidden-xs">Options</span> <span
              class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a ng-click="vm.updateIsHidden()"
                     title="Hide this stack from reports and mutes occurrence notifications"><i ng-if="vm.isHidden()"
                                                                                                class="fa fa-fw fa-check"></i>Hide</a>
              </li>
              <li><a ng-click="vm.updateIsCritical()" title="All future occurrences will be marked as critical"><i
                ng-if="vm.isCritical()" class="fa fa-fw fa-check"></i>Future Occurrences Are Critical</a></li>
              <li><a ng-click="vm.updateNotifications()" title="Stop sending occurrence notifications for this stack"><i
                ng-if="vm.notificationsDisabled()" class="fa fa-fw fa-check"></i>Disable Notifications</a></li>
              <li class="divider"></li>
              <li><a ng-click="vm.promoteToExternal()" title="Used to promote stacks to external systems.">Promote To
                External</a></li>
              <li><a ng-click="vm.addReferenceLink()" title="Add a reference link to an external resource.">Add
                Reference Link</a></li>
              <li class="divider"></li>
              <li><a ng-click="vm.remove()" title="Delete this stack">Delete</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <table class="table table-striped table-bordered table-fixed table-key-value b-t b-light">
          <tbody>
          <tr>
            <th>Title</th>
            <td><span truncate lines="3">{{vm.stack.title}}</span></td>
          </tr>
          <tr ng-if="vm.isFixed()">
            <th>Date Fixed</th>
            <td><span>{{vm.stack.date_fixed | date: 'medium'}}</span></td>
          </tr>
          <tr ng-if="vm.stack.description">
            <th>Description</th>
            <td><span truncate lines="2">{{vm.stack.description}}</span></td>
          </tr>
          <tr ng-if="vm.hasTags()">
            <th>Tags</th>
            <td><span class="label label-success" ng-repeat="tag in vm.stack.tags track by tag">{{tag}}</span></td>
          </tr>
          <tr ng-if="vm.hasReference()">
            <th>{{vm.hasReferences() ? 'Reference Links' : 'Reference Link'}}</th>
            <td>
              <ul ng-if="vm.hasReferences()" class="fa fa-fw-ul">
                <li ng-repeat="reference in vm.stack.references track by reference">
                  <a ng-href="{{::reference}}" target="_blank">{{::reference}}</a>
                  <a class="delete-link" ng-click="vm.removeReferenceLink(reference)"><i class="fa fa-fw fa-times"></i></a>
                </li>
              </ul>

              <div ng-if="!vm.hasReferences()">
                <a ng-href="{{::vm.stack.references[0]}}" target="_blank">{{::vm.stack.references[0]}}</a>
                <a class="delete-link" ng-click="vm.removeReferenceLink(vm.stack.references[0])"><i
                  class="fa fa-fw fa-times"></i></a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

        <h4>Stacking Information</h4>
        <table class="table table-striped table-bordered table-fixed table-key-value b-t b-light">
          <tbody>
          <tr ng-repeat="(key, value) in vm.stack.signature_info track by key">
            <th>{{key}}</th>
            <td>{{value}}</td>
          </tr>
          </tbody>
        </table>

        <rickshaw options="vm.chart.options" features="vm.chart.features"></rickshaw>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-fw fa-calendar"></i> Recent Occurrences</div>
      <events settings="vm.recentOccurrences"></events>
    </div>
  </div>
</div>
