@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
		--background: 0 0% 100%;
		--foreground: 221 39% 11%;

		--muted: 210 20% 98%;
		--muted-foreground: 240 3.8% 46.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 221 39% 11%;

		--card: 0 0% 100%;
		--card-foreground: 221 39% 11%;

		--border: 220 13% 91%;
		--input: 220 13% 91%;

		--primary: 96 64% 46%;
		--primary-foreground: 0 0% 100%;

		--secondary: 210 20% 98%;
		--secondary-foreground: 240 5.9% 10%;

		--accent: 210 20% 98%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 100%;

		--ring: 221 39% 11%;

		--radius: 0.5rem;
	}

    	.dark {
		--background: 215 28% 17%;
		--foreground: 0 0% 100%;

		--muted: 221 39% 11%;
		--muted-foreground: 240 5% 64.9%;

		--popover: 215 28% 17%;
		--popover-foreground: 0 0% 100%;

		--card: 215 28% 17%;
		--card-foreground: 0 0% 100%;

		--border: 217 19% 27%;
		--input: 217 19% 27%;

		--primary: 96 64% 46%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 221 39% 11%;
		--secondary-foreground: 0 0% 100%;

		--accent: 221 39% 11%;
		--accent-foreground: 0 0% 100%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 100%;

		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}
:root {
	/* Spacing for the container and between each toast */
	--svoast-offset: 16px;
	--svoast-gap: 16px;
	/* The toast itself. */
	--svoast-bg: theme('colors.background');
	--svoast-text: theme('colors.foreground');
	--svoast-padding: theme('spacing.6');
	--svoast-radius: theme('borderRadius.lg');
	--svoast-shadow: theme('boxShadow.xl');
	--svoast-font-size: theme('fontSize.sm');
	--svoast-dismiss-gap: 8px;
	--svoast-max-width: unset;
	/* The current colour of the toast, depending on the type */
	--svoast-colour: '';
	/* Colour for each type */
	--svoast-info-colour: theme('colors.blue.500');
	--svoast-attention-colour: theme('colors.zinc.500');
	--svoast-success-colour: theme('colors.green.500');
	--svoast-warning-colour: theme('colors.orange.500');
	--svoast-error-colour: theme('colors.red.500');
	/* The coloured bar */
	--svoast-bar-width: 3px;
	/* Icons */
	--svoast-icon-padding: 2px;
}
