@tailwind base;
@tailwind components;
@tailwind utilities;

/* These hsl values are also present in the ThemePreview component */
@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 221 39% 11%;

        --muted: 210 20% 98%;
        --muted-foreground: 240 3.8% 46.1%;

        --popover: 0 0% 100%;
        --popover-foreground: 221 39% 11%;

        --card: 0 0% 100%;
        --card-foreground: 221 39% 11%;

        --border: 220 13% 91%;
        --input: 220 13% 91%;

        --primary: 96 64% 46%;
        --primary-foreground: 0 0% 100%;

        --secondary: 210 20% 98%;
        --secondary-foreground: 240 5.9% 10%;

        --accent: 220 14.29% 95.88%;
        --accent-foreground: 216.92 19.12% 26.67%;

        --destructive: 0 72.2% 50.6%;
        --destructive-foreground: 0 0% 100%;

        --ring: 221 39% 11%;

        --radius: 0.375rem;

        --sidebar-background: var(--background);
        --sidebar-foreground: var(--foreground);
        --sidebar-primary: var(--primary);
        --sidebar-primary-foreground: var(--primary-foreground);
        --sidebar-accent: var(--accent);
        --sidebar-accent-foreground: var(--accent-foreground);
        --sidebar-border: var(--border);
        --sidebar-ring: var(--ring);
    }

    .dark {
        --background: 220 60% 1.96%;
        --foreground: 0 0% 100%;

        --muted: 210 16.13% 12.16%;
        --muted-foreground: 207.69 35.14% 92.75%;

        --popover: 216 27.78% 7.06%;
        --popover-foreground: 207.69 35.14% 92.75%;

        --card: 216 27.78% 7.06%;
        --card-foreground: 210 40% 98%;

        --border: 215 14.63% 16.08%;
        --input: 215 12.24% 19.22%;

        --primary: 96 64.1% 45.88%;
        --primary-foreground: 60 100% 96.27%;

        --secondary: 215 15.38% 15.29%;
        --secondary-foreground: 0 0% 97.25%;

        --accent: 210 16.13% 12.16%;
        --accent-foreground: 207.69 35.14% 92.75%;

        --destructive: 359.59 67.74% 42.55%;
        --destructive-foreground: 0 0% 100%;

        --ring: 96 64.1% 45.88%;

        --sidebar-background: var(--background);
        --sidebar-foreground: var(--foreground);
        --sidebar-primary: var(--primary);
        --sidebar-primary-foreground: var(--primary-foreground);
        --sidebar-accent: var(--accent);
        --sidebar-accent-foreground: var(--accent-foreground);
        --sidebar-border: var(--border);
        --sidebar-ring: var(--ring);
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
