@{
    ViewBag.Title = "My Projects";
}

<section id="projects">
    <div class="widget widget-table">

        <div class="widget-header">
            <i class="fa fa-briefcase"></i>
            <h3>@ViewBag.Title</h3>
        </div>
        <!-- /widget-header -->

        <div class="widget-content">
            @Html.Partial("_Projects", true)

            <div class="form-actions">
                @Html.ActionLink("Go To Dashboard", "Index", "Project", null, new { @class = "btn" })
                <div class="pull-right">
                    @Html.ActionLink("New Project", "Add", "Project", null, new { @class="btn btn-primary" })
                </div>
            </div> <!-- /form-actions -->
        </div>
        <!-- /widget-content -->
    </div>
    <!-- /widget -->
   
</section>

@section FooterContent {
    <script type="text/javascript">
        $(document).ready(function() {
            var vm = new exceptionless.project.ListViewModel('projects', 'main-nav');
        });
    </script>
}