@{
    Layout = "~/Views/Shared/_FilterLayout.cshtml";
    ViewBag.Title = "New";
}

<div class="widget widget-table" id="report-new">

    <div class="widget-header">
        <i class="fa fa-asterisk"></i>
        <h3>Newest Errors</h3>
    </div>
    <!-- /widget-header -->

    <div class="widget-content">
        @Html.Partial("_ErrorStack", "newest-errors")
    </div>
    <!-- /widget-content -->

</div>
<!-- /widget -->

@section FooterContent {
    <script type="text/javascript">
        $(document).ready(function() {
            var vm = new exceptionless.project.NewViewModel('report-new', 'main-nav', null, 'projects', 'daterange', 'newest-errors', 20);
        });
    </script>
}