@{
    Layout = "~/Views/Shared/_FilterLayout.cshtml";
    ViewBag.Title = "Most Recent";
}

<div class="widget widget-table" id="report-most-recent">

    <div class="widget-header">
        <i class="fa fa-calendar"></i>
        <h3>Most Recent</h3>
    </div>
    <!-- /widget-header -->

    <div class="widget-content">
        @Html.Partial("_RecentErrors", true)
    </div>
    <!-- /widget-content -->

</div>
<!-- /widget -->

@section FooterContent {
    <script type="text/javascript">
        $(document).ready(function() {
            var vm = new exceptionless.project.RecentViewModel('report-most-recent', 'main-nav', null, 'projects', 'daterange', 'most-recent', 20);
        });
    </script>
}