global:
  storageClass: managed-csi-premium

# https://hub.docker.com/r/bitnami/redis/tags
image:
  tag: 7.2.3-debian-11-r1

auth:
  enabled: true

replica:
  replicaCount: 3
  resources:
    requests:
      memory: 1024Mi
      cpu: 600m
    limits:
      memory: 1024Mi
      cpu: 600m

sentinel:
  enabled: true
  masterSet: ex-prod
  downAfterMilliseconds: 5000
  failoverTimeout: 60000
  resources:
    requests:
      memory: 256Mi
      cpu: 100m
    limits:
      memory: 256Mi
      cpu: 100m
