<!-- feed html from this into a css inliner tool like: http://beaker.mailchimp.com/inline-css -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Exceptionless</title>

<link rel="stylesheet" type="text/css" href="email.css" />

</head>
 
<body bgcolor="#F7F7F7">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#2c2c2c">
	<tr>
		<td></td>
		<td class="header container" >
				
				<div class="content">
				<table bgcolor="#2c2c2c">
					<tr>
						<td class="logo"><img src="imgs/logo.png" alt="Exceptionless" /></td>
					</tr>
				</table>
				</div>
				
		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#F7F7F7">

			<div class="content">
			<table>
				<tr>
					<td>
						<h4>Hi Eric,</h4>
						<p class="lead">A new error has occurred in the "Consumer" project.</p>
						
						<div class="fieldset">
              <div class="field">
                <h5>Type</h5>
                System.ArgumentException
              </div>
              <div class="hr"></div>
              <div class="field">
                <h5>Message</h5>
                An item with the same key has already been added.
              </div>
              <div class="hr"></div>
              <div class="field">
                <h5>Source</h5>
                HEAD https://www.exceptionless.io/
              </div>
						</div>
						
						<!-- Button -->
						<p class="center">
                            <a class="btn" href="http://be.exceptionless.io/error/51af6eb57841550b0c68d6ac/8000000078415515ec8aae89" rel="notrack" target="_blank">View Error Details</a> 
            </p>
            
            <div class="other">
              <h5>Other Actions</h5>
              <ul>
                <li><a href="http://be.exceptionless.io/stack/51af6eb57841550b0c68d6ac/mark-fixed" rel="notrack" target="_blank">Mark error as fixed</a></li>
                <li><a href="http://be.exceptionless.io/stack/51af6eb57841550b0c68d6ac/stop-notifications" rel="notrack" target="_blank">Stop sending notifications for this error</a></li>
                <li><a href="http://be.exceptionless.io/project/51af6eb57841550b0c68d6ac/manage#notifications" rel="notrack" target="_blank">Change your notification settings for this project</a></li>
              </ul>
            </div>
												
						<!-- social & contact -->
						<table class="social" width="100%">
							<tr>
								<td>
									
									<!-- column 1 -->
									<table align="left" class="column">
										<tr>
											<td>				
												
												<h5 class="">Stay In Touch</h5>
												<p class=""><a href="https://www.facebook.com/exceptionless" class="soc-btn fb">Facebook</a> <a href="https://twitter.com/exceptionless" class="soc-btn tw">Twitter</a> <a href="https://plus.google.com/b/111513069275546127753/111513069275546127753/posts" class="soc-btn gp">Google+</a></p>
						
												
											</td>
										</tr>
									</table><!-- /column 1 -->	
									
									<!-- column 2 -->
									<table align="left" class="column">
										<tr>
											<td>				
																			
												<h5 class="">Contact Info</h5>												
												<p>Website: <strong><a href="http://exceptionless.com">http://exceptionless.com</a></strong><br/>
                Email: <strong><a href="mailto:client@exceptionless.io">client@exceptionless.io</a></strong></p>
                
											</td>
										</tr>
									</table><!-- /column 2 -->
									
									<span class="clear"></span>	
									
								</td>
							</tr>
						</table><!-- /social & contact -->
						
					</td>
				</tr>
			</table>
			</div><!-- /content -->
									
		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">
			
				<!-- content -->
				<div class="content">
				<table>
				<tr>
					<td align="center">
						<p>
							<a href="http://exceptionless.com/terms">Terms</a> |
							<a href="http://exceptionless.com/privacy">Privacy</a> |
							<a href="#"><unsubscribe>Unsubscribe</unsubscribe></a>
						</p>
					</td>
				</tr>
			</table>
				</div><!-- /content -->
				
		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>