<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="SomeDatabase" providerName="System.Data.SqlClient" connectionString="server=.;database=SomeDatabase;uid=sa;pwd=somepass;"/>
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms defaultUrl="~/Account/Default.aspx" loginUrl="~/Login.aspx"/>
    </authentication>
    <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <clear/>
        <add name="CustomMembershipProvider" type="CodeSmith.Core.CustomMembershipProvider, CodeSmith.Core" connectionStringName="SomeDatabase"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="CustomRoleProvider">
      <providers>
        <clear/>
        <add name="CustomRoleProvider" type="CodeSmith.Core.CustomRoleProvider, CodeSmith.Core" connectionStringName="SomeDatabase"/>
      </providers>
    </roleManager>
    <profile enabled="true" automaticSaveEnabled="false" defaultProvider="CustomProfileProvider">
      <providers>
        <clear/>
        <add name="CustomProfileProvider" type="CodeSmith.Core.CustomProfileProvider, CodeSmith.Core" connectionStringName="SomeDatabase" tableName="UserProfile" lastUpdateColumnName="LastUpdateDate"/>
      </providers>
      <properties>
        <add name="FullName" type="String" customProviderData="FullName;varchar;50" />
        <add name="BirthDate" type="DateTime" customProviderData="BirthDate;smalldatetime" />
        <add name="PageSize" type="Int32" defaultValue="10" customProviderData="PageSize;int" />
      </properties>
    </profile>
  </system.web>
</configuration>
