<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Foundatio" version="4.0.791" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net461" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net461" />
</packages>