@{
    Layout = "~/Views/Shared/_FilterLayout.cshtml";
    ViewBag.Title = "Most Frequent";
}

<div class="widget widget-table" id="most-frequent-errors">

    <div class="widget-header">
        <i class="fa fa-signal"></i>
        <h3>Most Frequent</h3>
    </div>
    <!-- /widget-header -->

    <div class="widget-content">
        @Html.Partial("_ErrorStack", "most-frequent")
    </div>
    <!-- /widget-content -->

</div>

<!-- /widget -->
@section FooterContent {
    <script type="text/javascript">
        $(document).ready(function() {
            var vm = new exceptionless.project.FrequentViewModel('most-frequent-errors', 'main-nav', null, 'projects', 'daterange', 'most-frequent', 20);
        });
    </script>
}