<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="5.5.0" targetFramework="net47" />
  <package id="Exceptionless.DateTimeExtensions" version="3.2.86" targetFramework="net47" />
  <package id="FluentValidation" version="7.1.1" targetFramework="net47" />
  <package id="Foundatio" version="6.0.1531-pre" targetFramework="net47" />
  <package id="Foundatio.Jobs.Commands" version="6.0.1531-pre" targetFramework="net47" />
  <package id="Foundatio.Parsers.ElasticQueries" version="5.0.354-pre" targetFramework="net47" />
  <package id="Foundatio.Parsers.LuceneQueries" version="5.0.354-pre" targetFramework="net47" />
  <package id="Foundatio.Repositories" version="6.0.630-pre" targetFramework="net47" />
  <package id="Foundatio.Repositories.Elasticsearch" version="6.0.630-pre" targetFramework="net47" />
  <package id="Microsoft.Extensions.CommandLineUtils" version="1.1.1" targetFramework="net47" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net47" />
  <package id="NEST" version="5.5.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net47" />
</packages>