<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="exceptionless" type="Exceptionless.Configuration.ExceptionlessSection, Exceptionless"/>
  </configSections>
  <exceptionless apiKey="e3d51ea621464280bbcb79c11fd6483e" serverUrl="http://localhost:40000" tags="FromConfig1,FromConfig2" enableLogging="true">
    <settings>
      <add name="UserNamespaces" value="Exceptionless,FromConfig"/>
      <add name="RecentHistoryLogLimit" value="38"/>
      <add name="AppConfigOnly" value="Config"/>
      <add name="ConfigAndAttribute" value="Config"/>
    </settings>
    <extendedData>
      <add name="Data1" value="Exceptionless"/>
      <add name="Data2" value="10"/>
      <add name="Data3" value="true"/>
    </extendedData>
  </exceptionless>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>