<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless.Extras" />
  </configSections>
  
  <exceptionless apiKey="e3d51ea621464280bbcb79c11fd6483e" serverUrl="http://localhost:50000" enabled="true">
    <settings>
      <add name="TraceLogLimit" value="30" />
    </settings>
  </exceptionless>
  
  <connectionStrings>
    <add name="MongoConnectionString" connectionString="mongodb://localhost/exceptionless-test" />
    <add name="RedisConnectionString" connectionString="localhost" />
    <add name="ElasticSearchConnectionString" connectionString="http://localhost:9200" />
  </connectionStrings>
  <appSettings>
    <!-- Base url for the app used to build links in emails and other places. -->
    <add key="BaseURL" value="http://localhost:45000" />
    <!-- Controls whether SSL will be required. -->
    <add key="EnableSSL" value="false" />
    <!-- Controls whether daily summary notifications are sent -->
    <add key="EnableSummaryNotifications" value="true" />
    <add key="EnableRedis" value="false" />

    <!--
      Dev: Use this mode when debugging. (Outbound emails restricted)
      QA: Use this mode when deployed to staging.  (Outbound emails restricted)
      Production: Use this mode when deployed to production.
    -->
    <add key="WebsiteMode" value="Dev" />
    <!-- Email addresses that match this comma delimited list of domains and email addresses will be allowed to be sent out in Dev and QA mode -->
    <add key="AllowedOutboundAddresses" value="exceptionless.com" />
    <!-- All emails that do not match the AllowedOutboundAddresses will be sent to this address in Dev and QA mode -->
    <add key="TestEmailAddress" value="noreply@exceptionless.com" />
  </appSettings>
  <system.net>
    <defaultProxy enabled="true" />
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.1.0" newVersion="2.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.FileSystems" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.1.0" newVersion="105.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>