<div class="panel panel-default">
    <div class="panel-heading"><i class="fa fa-calendar"></i> {{::vm.header}}</div>
    <div class="table-responsive">
        <table class="table table-striped b-t b-light">
            <thead>
            <tr>
                <th>Summary</th>
                <th class="date">Date</th>
            </tr>
            </thead>
            <tbody>
            <tr class="row-clickable" ng-repeat="event in vm.events" ng-click="vm.open(event.id, $event)" ng-if="vm.hasEvents()">
                <td><summary source="event"></summary></td>
                <td><abbr title="{{::event.date | date : 'medium'}}"><timeago date="event.date"></timeago></abbr></td>
            </tr>
            <tr ng-if="!vm.hasEvents()">
                <td colspan="2">
                    <strong>Congratulations!</strong> You are <strong>exceptionless!</strong>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <footer class="panel-footer">
        <div class="row">
            <div class="col-sm-12 text-right">
                <ul class="pagination pagination-sm m-t-none m-b-none">
                    <li><a href="" ng-show="vm.previous" ng-click="vm.previousPage()"><i class="fa fa-chevron-left"></i></a></li>
                    <li><a href="" ng-show="vm.next" ng-click="vm.nextPage()"><i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>