.object-dump td ul {
    margin: 0 0 10px 0px;
}

.object-dump td ul li {
    list-style: none;
    margin-bottom: 8px;
}

.object-dump .object-dump > tbody > tr > th:first-child {
    min-width: 90px;
    width: 90px;
}
