@{
    ViewBag.Title = "My Organizations";
}

<section id="organizations">
    <div class="widget widget-table">

        <div class="widget-header">
            <i class="fa fa-group"></i>
            <h3>@ViewBag.Title</h3>
        </div>
        <!-- /widget-header -->

        <div class="widget-content">
            <table class="table table-striped table-clickable table-hover table-bordered tab table-fixed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th style="width: 58px;">Plan</th>
                        <th class="number hidden-phone" style="width: 52px">Projects</th>
                        <th class="number hidden-phone">Stacks</th>
                        <th class="number hidden-phone">Errors</th>
                        <th data-bind="visible: items().length > 0, css: actionsLayoutStyle">&nbsp;</th>
                    </tr>
                </thead>
                <tbody data-bind="template: { name: 'paged-organizations-template', foreach: items }"></tbody>
            </table>
            @Html.Partial("_Pager")

            <div class="form-actions">
                <button class="btn btn-primary" data-bind="click: addItem">New Organization</button>
            </div> <!-- /form-actions -->
            
            <div id="add-new-item-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="add-new-item-modal" aria-hidden="true">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3>New Organization</h3>
                </div>
                <div class="modal-body">
                    <div class="control-group" data-bind="validationElement: newItem">
                        <label for="name" class="control-label">Organization name</label>
                        <div class="controls">
                            <input type="text" class="input-large" id="name" data-bind="value: newItem, valueUpdate: 'keyup'" placeholder="New organization name">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary pull-right" data-bind="command: saveItemCommand, template: { name: 'command-button-template', data: { command: saveItemCommand, name: 'Save', executingName: 'Saving' } }">Save</button>
                </div>
            </div>
        </div>
        <!-- /widget-content -->
    </div>
    <!-- /widget -->
   
</section>

@section FooterContent {
    <script type="text/html" id="paged-organizations-template">
        <tr>
            <td data-bind="text: $data.name, click: $parent.rowClick"></td>
            <td><a title="Change Plan" data-bind="text: $data.selectedPlan.name, attr: { href: '/organization/' + $data.id + '/manage' }, click: function () { exceptionless.App.showChangePlanDialog($data); }"></a></td>
            <td class="number hidden-phone" data-bind="formatNumber: $data.projectCount, click: $parent.rowClick"></td>
            <td class="number hidden-phone" data-bind="formatNumber: $data.stackCount, click: $parent.rowClick"></td>
            <td class="number hidden-phone" data-bind="formatNumber: $data.errorCount, click: $parent.rowClick"></td>
            <td>
                <span class="hidden-phone">
                    <a data-bind="attr: { href: '/organization/' + $data.id + '/manage' }" title="Edit" class="btn btn-small">
                        <i class="fa fa-edit"></i>
                    </a>
                </span>
                <a data-bind="click: $parent.leaveOrganization" title="Leave Organization" class="btn btn-small">
                    <i class="fa fa-sign-out"></i>
                </a>
                <a data-bind="click: $parent.removeItem" title="Delete" class="btn btn-small">
                    <i class="fa fa-times"></i>
                </a>
            </td>
        </tr>
    </script>

    @Html.Partial("_CommandButtonTemplate")

    <script type="text/javascript">
        $(document).ready(function() {
            var vm = new exceptionless.organization.ListViewModel('organizations', 'main-nav', '@ViewBag.User.EmailAddress');
        });
    </script>
}