@using Exceptionless.Core
@model Exceptionless.Models.Organization
@{
    if (Model != null) {
        ViewBag.Title = "Account \"" + Model.Name + "\" Suspended";
    } else {
        ViewBag.Title = "Account Suspended";
    }

    var organizationId = Model != null ? Model.Id : String.Empty;
}

<div id="suspended" class="alert alert-success">
    <h4>Your account has been suspended.</h4>
    <p><em>Please note that while your account is suspended all new client errors will be discarded.</em></p>

    <p style="display: none;" data-bind="visible: isBillingRelated">
        To unsuspend your account, please
        <a href="#plan-modal" onclick="exceptionless.App.showChangePlanDialog()">update your billing information</a>.
    </p>

    <p style="display: none;" data-bind="visible: isAbuseOrOverageOrNotActive">
        You are currently over your plan limits. To unsuspend your account, please
        <a href="#plan-modal" onclick="exceptionless.App.showChangePlanDialog()">upgrade your plan</a>.
    </p>

    @if (Settings.Current.EnableIntercom) {
    <p>
        Please <a id="intercom" href="mailto:6c0d76e0bec950052459f5cb4b727a949aeabbe1@incoming.intercom.io">contact us</a>
        for more information on why your account was suspended.
    </p>
    }
</div>

@section FooterContent  {
    <script type="text/javascript">
        $(document).ready(function () {
            var vm = new exceptionless.organization.SuspendedViewModel('suspended', 'main-nav', '@organizationId');
        });
    </script>
}