<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="jobManager" type="CodeSmith.Core.Scheduler.JobManagerSection, CodeSmith.Core"/>
  </configSections>

  <connectionStrings>
    <add name="PetShopSQLServer" connectionString=""/>
  </connectionStrings>
  
  <jobManager jobProviderPoll="0:1:0">
    
    <jobs>
      <add name="sleep" interval="0:0:1" type="CodeSmith.Core.Tests.Scheduler.SleepJob, CodeSmith.Core.Tests"/>
      <add name="loggingSleep" interval="0:0:1" type="CodeSmith.Core.Tests.Scheduler.LoggingSleepJob, CodeSmith.Core.Tests"/>
    </jobs>
    
    <jobProviders>
      <add name="TestProvider" Description="Test Provider" type="CodeSmith.Core.Tests.Scheduler.TestJobProvider, CodeSmith.Core.Tests"/>
      <add name="TimeOfDayProvider" Description="Test Provider" type="CodeSmith.Core.Tests.Scheduler.TimeOfDayProvider, CodeSmith.Core.Tests"/>
    </jobProviders>
    
    <jobLockProviders>
      <add name="StaticLock" Description="Static lock provicer" type="CodeSmith.Core.Scheduler.StaticLockProvider, CodeSmith.Core"/>
    </jobLockProviders>
    
  </jobManager>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
