<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.10" targetFramework="net46" />
  <package id="ApprovalUtilities" version="3.0.10" targetFramework="net46" />
  <package id="AsyncFixer" version="1.0.0.0" targetFramework="net46" />
  <package id="AutoMapper" version="4.0.4" targetFramework="net46" />
  <package id="Elasticsearch.Net" version="1.7.1" targetFramework="net46" />
  <package id="Exceptionless.DateTimeExtensions" version="3.0.38" targetFramework="net46" />
  <package id="Exceptionless.RandomData" version="1.0.15.0" targetFramework="net46" />
  <package id="FluentValidation" version="5.6.2.0" targetFramework="net46" />
  <package id="Foundatio" version="3.0.523" targetFramework="net46" />
  <package id="MaxMind.Db" version="1.2.0" targetFramework="net46" />
  <package id="MaxMind.GeoIP2" version="2.4.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net46" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net46" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net46" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net46" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net46" />
  <package id="NEST" version="1.7.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net46" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net46" />
  <package id="Owin" version="1.0" targetFramework="net46" />
  <package id="RestSharp" version="105.2.3" targetFramework="net46" />
  <package id="SimpleInjector" version="3.1.0" targetFramework="net46" />
  <package id="SimpleInjector.Extensions.ExecutionContextScoping" version="3.1.0" targetFramework="net46" />
  <package id="SimpleInjector.Integration.WebApi" version="3.1.0" targetFramework="net46" />
  <package id="SimpleInjector.Packaging" version="3.1.0" targetFramework="net46" />
  <package id="xunit" version="2.1.0" targetFramework="net46" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net46" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net46" />
  <package id="xunit.core" version="2.1.0" targetFramework="net46" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net46" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net46" />
  <package id="xunit.runner.visualstudio" version="2.1.0" targetFramework="net46" />
</packages>