<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.5" targetFramework="net451" />
  <package id="ApprovalUtilities" version="3.0.5" targetFramework="net451" />
  <package id="AutoMapper" version="3.1.1" targetFramework="net451" />
  <package id="DotNetOpenAuth.AspNet" version="4.3.4.13329" targetFramework="net451" />
  <package id="DotNetOpenAuth.Core" version="4.3.4.13329" targetFramework="net451" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.3.4.13329" targetFramework="net451" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.3.4.13329" targetFramework="net451" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.3.4.13329" targetFramework="net451" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.3.4.13329" targetFramework="net451" />
  <package id="EnyimMemcached" version="2.12" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.OData" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.SelfHost" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.2" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.6.1" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.6.1" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.9.0-rc1" targetFramework="net451" />
  <package id="Moq" version="4.2.1402.2112" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net451" />
  <package id="RazorEngine" version="3.4.1" targetFramework="net451" />
  <package id="ServiceStack" version="3.9.71" allowedVersions="[3.9.70,4)" targetFramework="net451" />
  <package id="ServiceStack.Caching.Memcached" version="3.9.71" targetFramework="net451" allowedVersions="[3.9.70,4)" />
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net451" allowedVersions="[3.9.70,4)" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.71" allowedVersions="[3.9.70,4)" targetFramework="net451" />
  <package id="ServiceStack.Redis" version="3.9.71" targetFramework="net451" allowedVersions="[3.9.70,4)" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net451" allowedVersions="[3.9.70,4)" />
  <package id="SimpleInjector" version="2.5.0" targetFramework="net451" />
  <package id="SimpleInjector.Extensions.ExecutionContextScoping" version="2.5.0" targetFramework="net451" />
  <package id="SimpleInjector.Integration.Web" version="2.5.0" targetFramework="net451" />
  <package id="SimpleInjector.Integration.Web.Mvc" version="2.5.0" targetFramework="net451" />
  <package id="SimpleInjector.Integration.WebApi" version="2.5.0" targetFramework="net451" />
  <package id="SimpleInjector.Packaging" version="2.5.0" targetFramework="net451" />
  <package id="System.Spatial" version="5.6.1" targetFramework="net451" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net451" />
</packages>