version: "3"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile

    volumes:
      - ../..:/workspaces:cached

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

    # Runs app on the same network as the database container, allows "forwardPorts" in devcontainer.json function.
    network_mode: service:elasticsearch

    # Uncomment to connect as root instead. More info: https://aka.ms/dev-containers-non-root.
    # user: root

    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally.
    # (Adding the "ports" property to this file will not forward from a Codespace.)

  elasticsearch:
    image: exceptionless/elasticsearch:8.14.1
    environment:
      node.name: elasticsearch
      cluster.name: exceptionless
      discovery.type: single-node
      xpack.security.enabled: "false"
      action.destructive_requires_name: false
      ES_JAVA_OPTS: -Xms1g -Xmx1g
    ports:
      - 9200:9200
    volumes:
      - esdata:/usr/share/elasticsearch/data

  kibana:
    depends_on:
      - elasticsearch
    image: docker.elastic.co/kibana/kibana:8.14.1
    environment:
      xpack.security.enabled: "false"
    ports:
      - 5601:5601

  redis:
    image: redis:7.2-alpine
    ports:
      - 6379:6379

  mail:
    image: mailhog/mailhog:latest
    ports:
      - 8025:8025
      - 1025:1025

volumes:
  esdata:
    driver: local
