<form name="addReferenceForm" role="form">
  <div class="modal-header dialog-header-confirm">
    <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
    <h4 class="modal-title">Select Date Range</h4>
  </div>

  <div class="modal-body">
    <date-picker start="vm.range.start" end="vm.range.end" ng-options="vm.options"></date-picker>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-default" ng-click="vm.save()">Apply</button>
    <button type="button" class="btn btn-primary" ng-click="vm.cancel()">Cancel</button>
  </div>
</form>
