<ul class="nav navbar-nav">
  <li class="dropdown" dropdown  is-open="vm.isDropDownOpen">
    <a class="dropdown-toggle" dropdown-toggle>
      <i class="fa fa-fw fa-calendar fa-lg" ng-class="{'text-success': vm.hasFilter() }"></i>
    </a>

    <div class="dropdown-menu w-md" role="menu">
      <div class="panel bg-dark">
        <div class="list-group">
          <strong class="media list-group-item text-center" ng-show="vm.isActive('Custom')" refresh-on="filterChanged" refresh-action="vm.updateFilterName()">{{vm.filterName}}</strong>
          <a class="media list-group-item" ng-class="{ active: vm.isActive('last hour')}" ng-click="vm.setFilter('last hour')">Last Hour</a>
          <a class="media list-group-item" ng-class="{ active: vm.isActive('last 24 hours')}" ng-click="vm.setFilter('last 24 hours')">Last 24 Hours</a>
          <a class="media list-group-item" ng-class="{ active: vm.isActive('last week')}" ng-click="vm.setFilter('last week')">Last Week</a>
          <a class="media list-group-item" ng-class="{ active: vm.isActive('last 30 days')}" ng-click="vm.setFilter('last 30 days')">Last 30 Days</a>
          <a class="media list-group-item" ng-class="{ active: vm.isActive('All Time')}" ng-click="vm.setFilter()">All Time</a>
          <a class="media list-group-item" ng-class="{ active: vm.isActive('Custom')}" ng-click="vm.setCustomFilter()">Custom</a>
        </div>
      </div>
    </div>
  </li>
</ul>
