<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${basedir}/Logs" />

  <extensions>
    <add assembly="Exceptionless.NLog"/>
  </extensions>

  <targets async="true">
    <target xsi:type="ColoredConsole" name="console" />

    <target name="file"
      xsi:type="File"
      layout="${longdate} ${threadid:padding=4} ${level:uppercase=true:padding=5} ${logger:shortName=true} ${message} ${exception:format=tostring}"
      fileName="${logDirectory}/log.txt"
      archiveFileName="${logDirectory}/log.{#}.txt"
      archiveEvery="Day"
      archiveNumbering="Rolling"
      maxArchiveFiles="7"
      concurrentWrites="true"
      createDirs="true"
      autoFlush="true" />

    <target name="exceptionless" xsi:type="Exceptionless">
      <field name="project" layout="${event-context:item=project}" />
    </target>

    <target name="VisualStudioOutputWindow" xsi:type="Debugger" layout="${logger}::${message}"/>
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Trace" writeTo="VisualStudioOutputWindow" />-->
    <logger name="*" minlevel="Info" writeTo="exceptionless" />
    <logger name="*" minlevel="Warn" writeTo="console,file" />
  </rules>
</nlog>
