<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

  <connectionStrings>
    <add name="MongoConnectionString" connectionString="mongodb://localhost/exceptionless" />
    <add name="RedisConnectionString" connectionString="localhost" />
    <add name="ElasticSearchConnectionString" connectionString="http://localhost:9200" />
  </connectionStrings>
</configuration>