<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Exceptionless" version="2.0.1243-preview" targetFramework="net451" />
  <package id="Exceptionless.Console" version="2.0.1243-preview" targetFramework="net451" />
  <package id="Exceptionless.NLog" version="2.0.1243-preview" targetFramework="net451" />
  <package id="Exceptionless.WebApi" version="2.0.1243-preview" targetFramework="net451" />
  <package id="Foundatio" version="1.0.140" targetFramework="net451" />
  <package id="Foundatio.AzureStorage" version="1.0.140" targetFramework="net451" />
  <package id="Foundatio.Redis" version="1.0.140" targetFramework="net451" />
  <package id="Foundatio.StatsD" version="1.0.140" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.Data.Edm" version="5.6.3" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.6.3" targetFramework="net451" />
  <package id="Microsoft.Data.Services.Client" version="5.6.3" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="Nito.AsyncEx" version="3.0.0" targetFramework="net451" />
  <package id="NLog" version="3.2.0.0" targetFramework="net451" />
  <package id="SimpleInjector" version="2.7.2" targetFramework="net451" />
  <package id="SimpleInjector.Packaging" version="2.7.2" targetFramework="net451" />
  <package id="StackExchange.Redis" version="1.0.394" targetFramework="net451" />
  <package id="StatsdCsharpClient" version="1.3.0.0" targetFramework="net451" />
  <package id="System.Spatial" version="5.6.3" targetFramework="net451" />
  <package id="WindowsAzure.Storage" version="4.3.0" targetFramework="net451" />
</packages>