<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Exceptionless" version="3.0.1319" targetFramework="net451" />
  <package id="Exceptionless.NLog" version="3.0.1319" targetFramework="net451" />
  <package id="Exceptionless.Portable" version="3.0.1319" targetFramework="net451" />
  <package id="Exceptionless.WebApi" version="3.0.1319" targetFramework="net451" />
  <package id="Foundatio" version="1.0.213" targetFramework="net451" />
  <package id="Foundatio.AzureStorage" version="1.0.213" targetFramework="net451" />
  <package id="Foundatio.Redis" version="1.0.213" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net451" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="Nito.AsyncEx" version="3.0.0" targetFramework="net451" />
  <package id="NLog" version="3.2.0.0" targetFramework="net451" />
  <package id="SimpleInjector" version="2.7.3" targetFramework="net451" />
  <package id="SimpleInjector.Packaging" version="2.7.3" targetFramework="net451" />
  <package id="StackExchange.Redis" version="1.0.414" targetFramework="net451" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net451" />
  <package id="WindowsAzure.Storage" version="4.3.0" targetFramework="net451" />
</packages>