@model bool?
@{
    var helperText = String.Empty;
    if (ViewData.ModelMetadata.AdditionalValues.ContainsKey("helpertext"))
    {
        helperText = ViewData.ModelMetadata.AdditionalValues["helpertext"] as string;
    }
}

<label class="checkbox">
    @Html.CheckBox("", Model.GetValueOrDefault())
    @helperText
</label>
