<div id="free-plan-notification" class="alert in fade alert-success" style="display: none;">
    <strong>You are on a free plan.</strong>
    <a href="#plan-modal" onclick="exceptionless.App.showChangePlanDialog()">Upgrade now</a> to enable premium features and extra storage!
</div>

<div id="hourly-limit-notification" class="alert in fade alert-danger" style="display: none;">
    Errors are currently being throttled to prevent using up your plan limit in a small window of time. <a href="#plan-modal" onclick="exceptionless.App.showChangePlanDialog()">Upgrade now</a> to increase your limits.
</div>

<div id="monthly-limit-notification" class="alert in fade alert-danger" style="display: none;">
    You have reached your monthly plan limit. <a href="#plan-modal" onclick="exceptionless.App.showChangePlanDialog()">Upgrade now</a> to continue receiving errors.
</div>