@using System.Web.Optimization
@{
    Layout = "_BareLayout.cshtml";
}

@section HeadContent {
    @Styles.Render("~/content/main.css")
    @if (Request.QueryString["src"] != null) {
        <meta http-equiv="refresh" content="5;url=@Request.QueryString["src"]" />
    }
}

<div class="row">
    <div class="span6">
        <div class="widget">
            <div class="widget-header">
                <h3>Website Maintenance</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <p>We're sorry but the website is currently undergoing maintenance.</p>
            </div>
        </div>
    </div>
</div>
