@using Exceptionless.App.Models.Error
@model ErrorModel

<h3 class="visible-print">Extended Data</h3>
<table class="table table-bordered table-striped table-fixed keyvalue hidden-print" style="margin-bottom: 10px;">
    <tr>
        <th>Occurred On</th>
        <td>@Model.OccurrenceDate.ToString("MMMM d, yyyy h:mm:ss tt") (<span data-bind="livestamp: occurrence, hideTitle: true"></span>)</td>
    </tr>
</table>

@foreach (var item in Model.ExtendedData.Where(kvp => !Model.PromotedTabs.Contains(kvp.Key) && !kvp.Key.StartsWith("__"))) {
    @Html.Partial("_ExtendedDataItem", new ExtendedDataItemModel { Data = item, IsPromoted = false })
}
