@{
    Layout = "~/Views/Shared/_FilterLayout.cshtml";
    ViewBag.Title = "Dashboard";
}

<div id="overview" class="stat-container">
    <div class="stat-holder loading-indicator">
        <div id="totalStatBox" class="stat">
            <span class="stat-text" data-bind="formatNumber: total">0</span>
            <span class="visible-desktop">Total Exceptions</span>
            <span class="hidden-desktop"><abbr title="Total Exceptions">Total</abbr></span>
        </div>
        <!-- /stat -->
    </div>
    <!-- /stat-holder -->

    <div class="stat-holder loading-indicator">
        <div id="uniqueStatBox" class="stat">
            <span class="stat-text" data-bind="formatNumber: uniqueTotal">0</span>
            <span class="visible-desktop">Unique Exceptions</span>
            <span class="hidden-desktop"><abbr title="Unique Exceptions">Unique</abbr></span>
        </div>
        <!-- /stat -->
    </div>
    <!-- /stat-holder -->

    <div class="stat-holder loading-indicator">
        <div class="stat">
            <span class="stat-text" data-bind="formatNumber: newTotal">0</span>
            <span class="visible-desktop">New Exceptions</span>
            <span class="hidden-desktop"><abbr title="New Exceptions">New</abbr></span>
        </div>
        <!-- /stat -->
    </div>
    <!-- /stat-holder -->

    <div class="stat-holder loading-indicator">
        <div class="stat">
            <span class="stat-text" data-bind="formatNumber: perHourAverage">0</span>
            <span class="visible-desktop">Exceptions Per Hour</span>
            <span class="hidden-desktop"><abbr title="Exceptions Per Hour">Per Hour</abbr></span>
        </div>
        <!-- /stat -->
    </div>
    <!-- /stat-holder -->
</div>
<!-- /stat-container -->

<div class="widget">
    <div class="widget-header">
        <i class="fa fa-bar-chart-o"></i>
        <h3>Exception History</h3>
    </div>
    <!-- /widget-header -->

    <div class="widget-content">
        <div id="chart-container">
            <div id="chart" class="chart-holder-small"></div>
            <div id="timeline"></div>
        </div>
    </div>
    <!-- /widget-content -->

</div>
<!-- /widget -->

<div class="widget widget-table">

    <div class="widget-header">
        <i class="fa fa-signal"></i>
        <h3>Most Frequent</h3>
    </div>
    <!-- /widget-header -->

    <div class="widget-content">
        @Html.Partial("_ErrorStack", "most-frequent")
    </div>
    <!-- /widget-content -->

</div>
<!-- /widget -->

<div class="widget widget-table">

    <div class="widget-header">
        <i class="fa fa-calendar"></i>
        <h3>Most Recent</h3>
    </div>
    <!-- /widget-header -->

    <div class="widget-content">
        @Html.Partial("_RecentErrors", true)
    </div>
    <!-- /widget-content -->

</div>
<!-- /widget -->

@section FooterContent {
    <script type="text/javascript">
        var vm;
        $(document).ready(function() {
            vm = new exceptionless.project.DashboardViewModel('overview', 'main-nav', 'projects', 'daterange', '#chart', 'most-frequent', 'most-recent', 10, true);
        });
    </script>
}