<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net461" />
  <package id="Exceptionless" version="4.1.1964-pre" targetFramework="net47" />
  <package id="Exceptionless.Extensions.Logging" version="4.1.1964-pre" targetFramework="net47" />
  <package id="Exceptionless.WebApi" version="4.1.1964-pre" targetFramework="net47" />
  <package id="Foundatio" version="6.0.1531-pre" targetFramework="net47" />
  <package id="Foundatio.AzureStorage" version="6.0.1467-pre" targetFramework="net47" />
  <package id="Foundatio.Redis" version="6.0.1485-pre" targetFramework="net47" />
  <package id="Geocoding.net" version="3.6.1" targetFramework="net461" />
  <package id="MailKit" version="1.18.1.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault.Core" version="2.0.4" targetFramework="net461" />
  <package id="Microsoft.Data.Edm" version="5.8.3" targetFramework="net461" />
  <package id="Microsoft.Data.OData" version="5.8.3" targetFramework="net461" />
  <package id="Microsoft.Data.Services.Client" version="5.8.3" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Logging" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Logging.Console" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net461" />
  <package id="MimeKit" version="1.18.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="SimpleInjector" version="4.0.11" targetFramework="net461" />
  <package id="StackExchange.Redis.StrongName" version="1.2.6" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net461" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.3.0" targetFramework="net461" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net47" />
  <package id="System.Spatial" version="5.8.3" targetFramework="net461" />
  <package id="WindowsAzure.Storage" version="8.4.0" targetFramework="net461" />
</packages>