@inherits RazorSharpEmail.EmailTemplate<object>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="margin: 0; padding: 0; font-family: 'Open Sans', arial, sans-serif;">
<head style="margin: 0; padding: 0; font-family: 'Open Sans', arial, sans-serif;">
    <meta name="viewport" content="width=device-width" style="margin: 0; padding: 0; font-family: 'Open Sans', arial, sans-serif;">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style="margin: 0; padding: 0; font-family: 'Open Sans', arial, sans-serif;">
    <title style="margin: 0; padding: 0; font-family: 'Open Sans', arial, sans-serif;">@ViewBag.Subject</title>

</head>

<body bgcolor="#F7F7F7" style="margin: 0; padding: 0; font-family: 'Open Sans', arial, sans-serif; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; height: 100%; width: 100%; background-color: #F7F7F7;">

    <!-- HEADER -->
    <table class="head-wrap" bgcolor="#2c2c2c" style="margin: 0; padding: 0; font-family: 'Open Sans', arial, sans-serif; width: 100%;">
        <tr style="margin: 0; padding: 0; font-family: 'Open Sans', arial, sans-serif;">
            <td style="margin: 0; padding: 0; font-family: 'Open Sans', arial, sans-serif;"></td>
            <td class="header container" style="margin: 0 auto; padding: 0; font-family: 'Open Sans', arial, sans-serif; display: block; max-width: 600px; clear: both;">

                <div class="content" style="margin: 0 auto; padding: 8px 15px; font-family: 'Open Sans', arial, sans-serif; max-width: 600px; display: block;">
                    <table bgcolor="#2c2c2c" style="margin: 0; padding: 0; font-family: 'Open Sans', arial, sans-serif; width: 100%;">
                        <tr style="margin: 0; padding: 0; font-family: 'Open Sans', arial, sans-serif;">
                            <td class="logo" style="margin: 0; padding: 0px; font-family: 'Open Sans', arial, sans-serif;">
                                <img src="http://exceptionless.io/images/exceptionless-logo.png" alt="Exceptionless" style="margin: 0; padding: 0; font-family: 'Open Sans', arial, sans-serif; max-width: 100%;"></td>
                        </tr>
                    </table>
                </div>

            </td>
            <td style="margin: 0; padding: 0; font-family: 'Open Sans', arial, sans-serif;"></td>
        </tr>
    </table>
    <!-- /HEADER -->

    @RenderBody()

</body>
</html>
