---
ConnectionStrings:
  Redis.off: localhost,abortConnect=false
  Elasticsearch.off: http://localhost:9200/

# Base url for the ui used to build links in emails and other places.
BaseURL: 'http://localhost:9001/#!'

# Folder used to store event post data
StorageFolder: ..\..\..\..\Exceptionless.Web\storage

Serilog:
  MinimumLevel:
    Default: Debug
    Override:
      Microsoft: Warning
      System: Warning
      Foundatio.Utility.ScheduledTimer: Warning
      Foundatio.Metrics: Warning