/*------------------------------------------------------------------

[Dashboard Stylesheet]

	Project:		Adminia Admin
	Version:		1.0
	Last change:	05/11/2012
	Assigned to:	Rod Howard (rh)



[Table of contents]

	1. Max Width: 979px
	2. Max Width: 767px

-------------------------------------------------------------------*/



/*------------------------------------------------------------------
[1. Max Width: 979px]
*/

@media (max-width: 979px) {
	
	#content {
		padding-top: 15px;	
	}
	
}




/*------------------------------------------------------------------
[2. Max Width: 767px]
*/

@media (max-width: 767px) {
	
	/*#content {
		padding-top: 0;	
	}*/
	
	.sidebar-extra {
		display: none;
	}
	
}