@using Exceptionless
@model HandleErrorInfo
@{
    Layout = "_Layout.cshtml";
}
<h1>Error</h1>
@using (Html.BeginForm("Error", "Home", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.Hidden("Identifier", ExceptionlessClient.Default.GetLastReferenceId())
        
    @Html.TextBox("EmailAddress")<br/>
    @Html.TextArea("Description")<br/>
        
    <input type="submit" value="Submit Feedback" />
}
