@{
    ViewBag.Title = "Page Not Found";
    string url = ViewBag.Url ?? Request.QueryString["aspxerrorpath"];
}

<h3>Page Not Found</h3>
<p>We're sorry but the page <b>@url</b> was not found on this site.</p>