<ul class="nav navbar-nav">
  <li class="dropdown" dropdown is-open="vm.isDropDownOpen">
    <a class="dropdown-toggle" dropdown-toggle>
      <i class="fa fa-fw fa-search fa-lg" ng-class="{'text-success': vm.hasFilter() }"></i>
    </a>

    <div class="dropdown-menu w-md" style="padding: 10px;" role="menu">
      <div class="panel bg-white">
        <form role="form">
          <div class="form-group">
            <label for="search">Filter</label>
            <input id="search" type="search" class="form-control" placeholder="Criteria" ng-model="vm.filter" ng-model-options="{ debounce: 500 }" ng-change="vm.setFilter(vm.filter)">
          </div>

          <div class="checkbox">
            <label class="i-checks">
              <input id="includeFixed" type="checkbox" ng-model="vm.includeFixed" ng-change="vm.setIncludeFixed(vm.includeFixed)"><i></i>Include Fixed</a>
            </label>
          </div>

          <div class="checkbox">
            <label class="i-checks">
              <input id="includeHidden" type="checkbox" ng-model="vm.includeHidden" ng-change="vm.setIncludeHidden(vm.includeHidden)"><i></i>Include Hidden</a>
            </label>
          </div>

          <button type="submit" class="btn btn-default pull-right" ng-click="vm.clearFilter()">Clear</button>
        </form>
      </div>
    </div>
  </li>
</ul>
