<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless.Extras" />
  </configSections>
  
  <exceptionless apiKey="LhhP1C9gijpSKCslHHCvwdSIz298twx271n1l6xw" serverUrl="http://localhost:50000" enabled="true" />
  
  <connectionStrings>
    <add name="MongoConnectionString" connectionString="mongodb://localhost/exceptionless" />
    <add name="Migration:MongoConnectionString" connectionString="mongodb://localhost/exceptionless" />
    <add name="RedisConnectionString" connectionString="localhost" />
    <add name="ElasticSearchConnectionString" connectionString="http://localhost:9200" />
    <add name="LogConnectionString" connectionString="http://localhost:9200" />
  </connectionStrings>

  <appSettings>
    <!-- Base url for the app used to build links in emails and other places. -->
    <add key="BaseURL" value="http://localhost:50000" />
    <!-- Controls whether SSL will be required. -->
    <add key="EnableSSL" value="false" />

    <!--
    Dev: Use this mode when debugging. (Outbound emails restricted)
    QA: Use this mode when deployed to staging.  (Outbound emails restricted)
    Production: Use this mode when deployed to production.
    -->
    <add key="WebsiteMode" value="Dev" />
    <!-- Email addresses that match this comma delimited list of domains and email addresses will be allowed to be sent out in Dev and QA mode -->
    <add key="AllowedOutboundAddresses" value="exceptionless.io,codesmithtools.com" />
    <!-- All emails that do not match the AllowedOutboundAddresses will be sent to this address in Dev and QA mode -->
    <add key="TestEmailAddress" value="noreply@exceptionless.io" />
    <!-- Controls whether daily summary emails are sent -->
    <add key="EnableDailySummary" value="false" />
    <!-- Folder used to store event post data -->
    <add key="StorageFolder" value="..\..\..\Api\App_Data\storage" />
    <!-- Internal project id keeps us from recursively logging to ourself -->
    <add key="InternalProjectId" value="54b56e480ef9605a88a13153" />
    <!-- Path to the GeoIP database -->
    <add key="GeoIPDatabasePath" value="..\..\..\Api\App_Data\GeoLite2-City.mmdb" />
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp from="Exceptionless &lt;noreply@exceptionless.io&gt;">
        <network host="localhost" port="25" />
      </smtp>
    </mailSettings>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
           before trusting HTTPS certificates.  But this setting tends to not 
           be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin" />
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.2.0" newVersion="2.7.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.FileSystems" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-105.0.0.0" newVersion="104.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>