<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.3.1" targetFramework="net451" />
  <package id="Exceptionless.DateTimeExtensions" version="3.0.29" targetFramework="net451" />
  <package id="FluentValidation" version="5.5.0.0" targetFramework="net451" />
  <package id="Foundatio" version="1.0.117" targetFramework="net451" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.SignalR.Redis" version="2.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Tracing" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Cors" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Diagnostics" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.1" targetFramework="net451" />
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="NLog" version="3.2.0.0" targetFramework="net451" />
  <package id="OAuth2" version="0.8.34" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="RestSharp" version="104.0" targetFramework="net451" />
  <package id="SimpleInjector" version="2.7.2" targetFramework="net451" />
  <package id="SimpleInjector.Extensions.ExecutionContextScoping" version="2.7.2" targetFramework="net451" />
  <package id="SimpleInjector.Integration.WebApi" version="2.7.2" targetFramework="net451" />
  <package id="SimpleInjector.Packaging" version="2.7.2" targetFramework="net451" />
  <package id="StackExchange.Redis.StrongName" version="1.0.394" targetFramework="net451" />
  <package id="Stripe.net" version="2.7.2" targetFramework="net451" />
</packages>