<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.0.4" targetFramework="net451" />
  <package id="Elasticsearch.Net" version="1.7.1" targetFramework="net451" />
  <package id="Exceptionless.DateTimeExtensions" version="3.0.38" targetFramework="net451" />
  <package id="FluentValidation" version="5.6.2.0" targetFramework="net451" />
  <package id="Foundatio" version="3.0.447" targetFramework="net451" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.SignalR.Owin" version="1.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.SignalR.Redis" version="2.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Cors" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net451" />
  <package id="NLog" version="4.1.1" targetFramework="net451" />
  <package id="NLog.Schema" version="4.1.0" targetFramework="net451" />
  <package id="NLog.Targets.ElasticSearch" version="1.0.14.0" targetFramework="net451" />
  <package id="OAuth2" version="0.8.34" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="RestSharp" version="105.2.3" targetFramework="net451" />
  <package id="SimpleInjector" version="3.0.5" targetFramework="net451" />
  <package id="SimpleInjector.Extensions.ExecutionContextScoping" version="3.0.5" targetFramework="net451" />
  <package id="SimpleInjector.Integration.WebApi" version="3.0.5" targetFramework="net451" />
  <package id="SimpleInjector.Packaging" version="3.0.5" targetFramework="net451" />
  <package id="StackExchange.Redis.StrongName" version="1.0.481" targetFramework="net451" />
  <package id="Stripe.net" version="4.2.1" targetFramework="net451" />
  <package id="Swashbuckle.Core" version="5.2.1" targetFramework="net451" />
</packages>