<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>

  <targets>
    <target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="ElasticSearch" connectionName="ElasticSearchConnectionString" layout="${message}">
        <field name="source" layout="${logger}" />
        <field name="host" layout="${machinename}" />
        <field name="project" layout="${event-context:item=project}" />
        <field name="user" layout="${windows-identity:userName=True:domain=False}" />
      </target>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="elastic" />
  </rules>
</nlog>
