<h3 class="visible-print">Exception</h3>
<table class="table table-bordered table-striped table-fixed">
    <tr>
        <th>Occurred On</th>
        <td>{{::vm.event.date | date: 'medium'}} (<timeago date="vm.event.date"></timeago>)</td>
    </tr>
    <tr>
        <th>Error Type</th>
        <td><span truncate>{{::vm.event.data.error.type}}</span></td>
    </tr>
    <tr>
        <th>Message</th>
        <td><span truncate lines="2">@Model.StackingMessage</span></td>
    </tr>
    <tr ng-if="vm.event.data.error.code">
        <th>Code</th>
        <td><span truncate>{{::vm.event.data.error.code}}</span></td>
    </tr>
</table>

<h4>Stack Trace</h4>
<div class="pull-right" style="margin-top: 1.2em">
    <button class="btn btn-mini clipboard" title="Copy to Clipboard" data-clipboard-target="stacktrace"><i class="fa fa-copy"></i></button>
</div>

<stack-trace exception="vm.event.data.error"></stack-trace>

<div ng-if="vm.event.data.error.modules.length > 0">
    <h4>Loaded Modules</h4>
    <table class="table table-bordered table-striped table-fixed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Version</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="module in vm.event.data.error.modules">
                <td><span truncate>{{::module.name}}</span></td>
                <td>{{::module.version}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!--
TODO: implement this.
@if (Model.StackingExtendedData != null && Model.StackingExtendedData.ContainsKey(ExtendedDataDictionary.EXCEPTION_INFO_KEY)) {
@Html.Partial("_ExtendedDataItem", new ExtendedDataItemModel { Data = new KeyValuePair<string, object>(ExtendedDataDictionary.EXCEPTION_INFO_KEY, Model.StackingExtendedData[ExtendedDataDictionary.EXCEPTION_INFO_KEY]), Title = "Additional Data" })
}
-->
