<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="1.4.2" targetFramework="net451" />
  <package id="Exceptionless.DateTimeExtensions" version="3.0.33" targetFramework="net451" />
  <package id="FluentValidation" version="5.5.0.0" targetFramework="net451" />
  <package id="Foundatio" version="1.0.140" targetFramework="net451" />
  <package id="Foundatio.Redis" version="1.0.140" targetFramework="net451" />
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net451" />
  <package id="NEST" version="1.4.2" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="Nito.AsyncEx" version="3.0.0" targetFramework="net451" />
  <package id="NLog" version="3.2.0.0" targetFramework="net451" />
  <package id="SimpleInjector" version="2.7.2" targetFramework="net451" />
  <package id="SimpleInjector.Extensions.ExecutionContextScoping" version="2.7.2" targetFramework="net451" />
  <package id="SimpleInjector.Packaging" version="2.7.2" targetFramework="net451" />
  <package id="StackExchange.Redis" version="1.0.394" targetFramework="net451" />
</packages>