<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="1.7.1" targetFramework="net451" />
  <package id="Exceptionless.DateTimeExtensions" version="3.0.38" targetFramework="net451" />
  <package id="FluentValidation" version="5.6.2.0" targetFramework="net451" />
  <package id="Foundatio" version="3.0.447" targetFramework="net451" />
  <package id="Foundatio.Redis" version="3.0.447" targetFramework="net451" />
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net451" />
  <package id="NEST" version="1.7.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net451" />
  <package id="NLog" version="4.1.1" targetFramework="net451" />
  <package id="SimpleInjector" version="3.0.5" targetFramework="net451" />
  <package id="SimpleInjector.Extensions.ExecutionContextScoping" version="3.0.5" targetFramework="net451" />
  <package id="SimpleInjector.Packaging" version="3.0.5" targetFramework="net451" />
  <package id="StackExchange.Redis" version="1.0.481" targetFramework="net451" />
</packages>