<ul class="nav navbar-nav">
  <li class="dropdown">
    <a href="javascript:void(0);" class="dropdown-toggle">
      <span refresh-on="filterChanged" refresh-action="vm.filterName = vm.getFilterName()">{{vm.filterName}}</span> <b class="caret"></b>
    </a>

    <div class="dropdown-menu w-xl">
      <div class="panel bg-white">
        <div class="list-group">
          <div ng-repeat="(organization_id, projects) in vm.projects | groupBy: 'organization_id'">
            <a class="media list-group-item" ng-if="$first" ng-click="vm.clearFilter()">All Projects</a>
            <a class="media list-group-item" ng-click="vm.setOrganization(projects[0])"><strong>{{projects[0].organization_name}}</strong></a>
            <a class="media list-group-item project-name" ng-click="vm.setProject(project)" ng-repeat="project in projects">{{project.name}}</a>
          </div>
        </div>
        <div class="panel-footer text-sm">
          <a ui-sref="app.project.add">Add New Project</a>
        </div>
      </div>
    </div>
  </li>
</ul>
