@model dynamic

@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<section id="admin-overview">
    <div class="widget">

        <div class="widget-header">
            <i class="fa fa-gear"></i>
            <h3>@ViewBag.Title</h3>
        </div>
        <!-- /widget-header -->

        <div class="widget-content">
            <div class="tabbable">
                <ul class="nav nav-tabs" data-tabs="tabs" id="admin-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#statistics">Statistics</a>
                    </li>
                    <li><a data-toggle="tab" href="#organizations">Organizations</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="statistics">
                        <div class="stat-container">
                            <div class="stat-holder loading-indicator">
                                <div class="stat">
                                    <span class="stat-text positive-number" data-bind="formatCurrency: monthlyTotal">0</span>
                                    <span class="visible-desktop">Monthly Total</span>
                                    <span class="hidden-desktop"><abbr title="Monthly Total">Monthly</abbr></span>
                                </div>
                                <!-- /stat -->
                            </div>
                            <!-- /stat-holder -->

                            <div class="stat-holder loading-indicator">
                                <div class="stat">
                                    <span class="stat-text positive-number" data-bind="formatCurrency: yearlyTotal">0</span>
                                    <span class="visible-desktop">Projected Yearly Total</span>
                                    <span class="hidden-desktop"><abbr title="Yearly Total">Proj. Yearly</abbr></span>
                                </div>
                                <!-- /stat -->
                            </div>
                            <!-- /stat-holder -->

                            <div class="stat-holder loading-indicator">
                                <div class="stat">
                                    <span class="stat-text" data-bind="formatNumber: paidAccounts">0</span>
                                    <span class="visible-desktop">Total Paid Accounts</span>
                                    <span class="hidden-desktop"><abbr title="Total Paid Accounts">Paid</abbr></span>
                                </div>
                                <!-- /stat -->
                            </div>
                            <!-- /stat-holder -->
                        </div>
                        <!-- /stat-container -->

                        <div class="stat-container">
                            <div class="stat-holder loading-indicator">
                                <div class="stat">
                                    <span class="stat-text" data-bind="formatNumber: monthlyTotalAccounts">0</span>
                                    <span class="visible-desktop">Monthly Paid Accounts</span>
                                    <span class="hidden-desktop"><abbr title="Monthly Paid Accounts">Paid/Mo</abbr></span>
                                </div>
                                <!-- /stat -->
                            </div>
                            <!-- /stat-holder -->

                            <div class="stat-holder loading-indicator">
                                <div class="stat">
                                    <span class="stat-text" data-bind="formatNumber: yearlyTotalAccounts">0</span>
                                    <span class="visible-desktop">Yearly Paid Accounts</span>
                                    <span class="hidden-desktop"><abbr title="Yearly Paid Accounts">Paid/Yr</abbr></span>
                                </div>
                                <!-- /stat -->
                            </div>
                            <!-- /stat-holder -->
                            <div class="stat-holder loading-indicator" data-bind="click: function() { viewSuspendedAccounts('#admin-tabs', '#organizations'); ; return true; }">
                                <div class="stat">
                                    <span class="stat-text" data-bind="formatNumber: suspendedAccounts, css: suspendedAccounts() > 0 ? 'negitive-number' : ''">0</span>
                                    <span class="visible-desktop">Suspended Accounts</span>
                                    <span class="hidden-desktop"><abbr title="Suspended Accounts">Suspended</abbr></span>
                                </div>
                                <!-- /stat -->
                            </div>
                            <!-- /stat-holder -->
                        </div>
                        <!-- /stat-container -->

                        <h3>Plans</h3>
                        <table class="table table-striped table-bordered tab table-fixed">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th class="number">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Free</td>
                                    <td class="number" data-bind="formatNumber: freeAccounts">0</td>
                                </tr>
                                <tr>
                                    <td>Freeloaders</td>
                                    <td class="number" data-bind="formatNumber: freeloaderAccounts, css: suspendedAccounts() > 0 ? 'negitive-number' : ''">0</td>
                                </tr>
                                <tr>
                                    <td>Small</td>
                                    <td class="number" data-bind="formatNumber: smallTotal, css: smallTotal() > 0 ? 'positive-number' : ''">0</td>
                                </tr>
                                <tr>
                                    <td>Small Yearly</td>
                                    <td class="number" data-bind="formatNumber: smallYearlyTotal, css: smallYearlyTotal() > 0 ? 'positive-number' : ''">0</td>
                                </tr>
                                <tr>
                                    <td>Medium</td>
                                    <td class="number" data-bind="formatNumber: mediumTotal, css: mediumTotal() > 0 ? 'positive-number' : ''">0</td>
                                </tr>
                                <tr>
                                    <td>Medium Yearly</td>
                                    <td class="number" data-bind="formatNumber: mediumYearlyTotal, css: mediumYearlyTotal() > 0 ? 'positive-number' : ''">0</td>
                                </tr>
                                <tr>
                                    <td>Large</td>
                                    <td class="number" data-bind="formatNumber: largeTotal, css: largeTotal() > 0 ? 'positive-number' : ''">0</td>
                                </tr>
                                <tr>
                                    <td>Large Yearly</td>
                                    <td class="number" data-bind="formatNumber: largeYearlyTotal, css: largeYearlyTotal() > 0 ? 'positive-number' : ''">0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane" id="organizations">
                        <div style="margin-bottom: 20px">
                            <div class="btn-group" data-toggle="buttons-radio">
                                <button class="btn" data-value="0" data-bind="checkedButtons: planSearchCriteria">Any</button>
                                <button class="btn" data-value="1" data-bind="checkedButtons: planSearchCriteria">
                                    <span class="visible-desktop">Free</span>
                                    <span class="hidden-desktop"><abbr title="Free">F</abbr></span>
                                </button>
                                <button class="btn" data-value="2" data-bind="checkedButtons: planSearchCriteria">
                                    <span class="visible-desktop">Paid</span>
                                    <span class="hidden-desktop"><abbr title="Paid">P</abbr></span>
                                </button>
                                <button class="btn" data-value="3" data-bind="checkedButtons: planSearchCriteria">
                                    <span class="visible-desktop">Suspended</span>
                                    <span class="hidden-desktop"><abbr title="Suspended">S</abbr></span>
                                </button>
                            </div>

                            <div class="pull-right">
                                <div class="input-append">
                                    <input type="text" class="input-medium" placeholder="Search" data-bind="value: criteria">
                                    <button type="button" class="btn"><i class="fa fa-search"></i></button>
                                </div>

                                <div id="visibility" class="btn-group input-append">
                                    <button class="btn btn-gray dropdown-toggle" data-toggle="dropdown"><span class="visible-desktop">Sort&nbsp;</span><span class="caret"></span></button>
                                    <ul class="dropdown-menu right-aligned">
                                        <li><a href="#" data-bind="click: function () { sortBy(0) }" title="Newest"><span data-bind="visible: sortBy() === 0" class="fa fa-check" style="display: none;"></span>Newest</a></li>
                                        <li><a href="#" data-bind="click: function () { sortBy(1) }" title="Subscribed"><span data-bind="visible: sortBy() === 1" class="fa fa-check" style="display: none;"></span>Subscribed</a></li>
                                        <li><a href="#" data-bind="click: function () { sortBy(2) }" title="Most Active"><span data-bind="visible: sortBy() === 2" class="fa fa-check" style="display: none;"></span>Most Active</a></li>
                                        <li><a href="#" data-bind="click: function () { sortBy(3) }" title="Alphabetical"><span data-bind="visible: sortBy() === 3" class="fa fa-check" style="display: none;"></span>Alphabetical</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <table class="table table-striped table-clickable table-hover table-bordered tab table-fixed">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th class="date hidden-phone hidden-tablet" data-bind="text: sortBy() === 1 ? 'Subscribed' : 'Created'">Created</th>
                                    <th style="width: 85px;">Plan</th>
                                    <th class="number hidden-phone" style="width: 85px">Stats</th>
                                    <th data-bind="visible: items().length > 0, css: actionsLayoutStyle">&nbsp;</th>
                                </tr>
                            </thead>

                            <!-- ko if: items().length > 0 -->
                            <tbody data-bind="template: { name: 'paged-organizations-template', foreach: items }"></tbody>
                            <!-- /ko -->
                            <!-- ko if: items().length === 0 -->
                            <tbody style="display: none" data-bind="visible: items().length === 0">
                                <tr>
                                    <td colspan="5">No organizations were found with the above criteria</td>
                                </tr>
                            </tbody>
                            <!-- /ko -->
                        </table>
                        @Html.Partial("_Pager")

                        <div id="suspend-organization-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="suspend-organization-modal" aria-hidden="true">
                            <div class="modal-header">
                                <a href="#" class="close" data-dismiss="modal">&times;</a>
                                <h3>Suspend Organization</h3>
                            </div>
                            <div class="modal-body">
                                <div class="control-group">
                                    <label for="reason" class="control-label">Reason:</label>
                                    <div class="controls">
                                        <select id="reason" data-bind="options: suspensionCodes, value: selectedSuspensionCode"></select>
                                    </div>
                                </div>
                                <div class="control-group" data-bind="visible: selectedSuspensionCode() == 'Other'">
                                    <label for="notes" class="control-label">Notes:</label>
                                    <div class="controls">
                                        <textarea class="span5" rows="2" data-bind="value: suspensionNotes, valueUpdate: 'keyup'"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-primary pull-right" data-bind="command: saveSuspendedStateCommand, template: { name: 'command-button-template', data: { command: saveSuspendedStateCommand, name: 'Suspend', executingName: 'Suspending' } }">Suspend</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /widget-content -->
    </div>
    <!-- /widget -->

</section>

@section FooterContent {
    <script type="text/html" id="paged-organizations-template">
        <tr>
            <td data-bind="click: $parent.rowClick">
                <span data-bind="text: $data.name"></span>
                <span data-bind="text: $data.billingStatusAbbr, popover: { placement: 'right', content: $data.billingSummary }, css: $data.billingStatusAbbr === '[A]' || $data.billingStatusAbbr === '[T]' ? 'positive-number' : 'negitive-number'"></span>
            </td>
            <td class="date hidden-phone hidden-tablet" data-bind="click: $parent.rowClick">
                <a href="#" data-bind="popover: { placement: 'right', content: $data.activitySummary }, click: $parent.rowClick">
                    <span data-bind="livestamp: $parent.sortBy() === 1 ? $data.subscribeDate : $data.createdOn, hideTitle: true"></span>
                </a>
            </td>
            <td><a title="Change Plan" data-bind="attr: { href: '/organization/' + $data.id + '/manage' }, click: function () { exceptionless.App.showChangePlanDialog($data); }">
                    <!-- ko if: $data.billingPrice === 0 -->
                    <span data-bind="text: $data.selectedPlan.name"></span>
                    <!-- /ko -->
                    <!-- ko ifnot: $data.billingPrice === 0 -->
                    <span data-bind="text: $data.selectedPlan.name + ' ($' + $data.billingPrice + ')'"></span>
                    <!-- /ko -->
                </a>
            </td>
            <td class="number hidden-phone">
                <a href="#" data-bind="popover: { placement: 'left', content: $data.retentionSummary }, click: $parent.rowClick">
                    <span data-bind="formatNumber: $data.projectCount"></span> / <span data-bind="formatNumber: $data.totalErrorCount"></span>
                </a>
            </td>
            <td>
                <span class="hidden-phone">
                    <a data-bind="visible: $data.stripeCustomerId,  attr: { href: 'https://manage.stripe.com/customers/' + $data.stripeCustomerId, target: '_blank' }" title="View Stripe Customer" class="btn btn-small">
                        <i class="fa fa-credit-card"></i>
                    </a>
                    <a data-bind="attr: { href: '/organization/' + $data.id + '/manage' }" title="Edit" class="btn btn-small">
                        <i class="fa fa-edit"></i>
                    </a>
                </span>
                <a data-bind="click: $parent.suspendOrganization, attr: { title: $data.isSuspended ? 'Unsuspend' : 'Suspend' }" class="btn btn-small">
                    <i data-bind="css: $data.isSuspended ? 'fa fa-unlock-alt' : 'fa fa-lock'"></i>
                </a>
                <a data-bind="click: $parent.removeItem" title="Delete" class="btn btn-small">
                    <i class="fa fa-times"></i>
                </a>
            </td>
        </tr>
    </script>

    @Html.Partial("_CommandButtonTemplate")

    <script type="text/javascript">
        $(document).ready(function() {
            var vm = new exceptionless.admin.DashboardViewModel('statistics', 'main-nav', 'admin-tabs', 'organizations', '@ViewBag.User.EmailAddress');
        });
    </script>
}