<?xml version="1.0" encoding="utf-8" ?>
<jobManager>
  <jobs>
    <add name="StartMq" interval="0:0:30" keepAlive="false" description="Sends error notifications." group="Global" type="Exceptionless.Core.Jobs.StartMqJob, Exceptionless.Core" />
    <add name="RetentionLimits" interval="1.0:0:0" keepAlive="false" description="Enforce Retention Limits." group="Global" type="Exceptionless.Core.Jobs.EnforceRetentionLimitsJob, Exceptionless.Core" />
    <add name="RemoveStaleAccounts" interval="1.0:0:0" keepAlive="false" description="Remove Stale Accounts." group="Global" type="Exceptionless.Core.Jobs.RemoveStaleAccountsJob, Exceptionless.Core" />
    <add name="DailyNotifications" interval="0:15:0" keepAlive="false" description="Daily Notifications" group="Global" type="Exceptionless.Core.Jobs.DailyNotificationJob, Exceptionless.Core" jobLockProvider="GlobalLock" />
  </jobs>
  <jobLockProviders>
    <add name="GlobalLock" Description="Global lock provider" type="Exceptionless.Core.Jobs.RedisJobLockProvider, Exceptionless.Core" />
    <add name="MachineLock" Description="Machine specific lock provider" type="Exceptionless.Core.Jobs.RedisJobLockProvider, Exceptionless.Core" />
  </jobLockProviders>
</jobManager>