@model bool
<table class="table table-striped table-clickable table-hover table-bordered table-fixed">
    <thead>
        <tr>
            <th>Name</th>
@if (Model) {
            <th>Organization</th>
}
            <th class="number hidden-phone">Stacks</th>
            <th class="number hidden-phone">Errors</th>
            <th class="action-xlarge" style="display: none;" data-bind="visible: items().length > 0">&nbsp;</th>
        </tr>
    </thead>
    <tbody data-bind="template: { name: 'paged-errors-template' }"></tbody>
</table>
@Html.Partial("_Pager")

<script type="text/html" id="paged-errors-template">
    <!-- ko foreach: items -->
    <tr>
        <td data-bind="text: name, click: $parent.rowClick"></td>
@if (Model) {
        <td data-bind="text: organization.name, click: $parent.rowClick"></td>
}
        <td class="number hidden-phone" data-bind="formatNumber: $data.stackCount, click: $parent.rowClick"></td>
        <td class="number hidden-phone" data-bind="formatNumber: $data.errorCount, click: $parent.rowClick"></td>
        <td>
            <a data-bind="attr: { href: '/project/' + $data.id }" title="Dashboard" class="btn btn-small">
                <i class="fa fa-dashboard"></i>
            </a>
            <a data-bind="attr: { href: '/project/' + $data.id + '/manage' }" title="Edit" class="btn btn-small">
                <i class="fa fa-edit"></i>
            </a>
            <a data-bind="attr: { href: '/project/' + $data.id + '/configure' }" title="Configure Client" class="btn btn-small">
                <i class="fa fa fa-download"></i>
            </a>
            <a data-bind="click: $parent.removeItem" title="Delete" class="btn btn-small">
                <i class="fa fa-times"></i>
            </a>
        </td>
    </tr>
    <!-- /ko -->
    <tr style="display: none;" data-bind="visible: items().length === 0 && !loading()">
        <td colspan="5">No projects were found.</td>
    </tr>
</script>