@using System.Configuration
@{
    string userFullName = null;
    if (Request.IsAuthenticated) {
        userFullName = User.Identity.Name;
    }
    if (ViewBag.User != null) {
        userFullName = ViewBag.User.FullName;
    }

    string stripeKey = ConfigurationManager.AppSettings["StripePublishableApiKey"];
}

<div id="plan-modal" class="modal hide fade" style="min-width: 400px;" tabindex="-1" role="dialog" aria-labelledby="plan-modal-label" aria-hidden="true">
    <div class="modal-header">
        <h3 id="plan-modal-label">Exceptionless Plan</h3>
        <div class="icon">
            <img src="/images/exceptionless-48.png" />
        </div>
    </div>
    <div class="modal-body" id="billing-body">
        <form method="post" id="change-plan-form" autocomplete="on">
            <div data-bind="visible: organizations.length > 1">
                <label for="organization">Organization to change</label>
                <select id="organization" data-bind="options: organizations, value: selectedOrganization, optionsText: 'name'"></select>
            </div>

            <p><strong data-bind="text: selectedOrganization.name"></strong> is currently on the <strong data-bind="text: selectedOrganizationPlan.name"></strong> plan.</p>
            <label for="plan">Select new plan (<a href="http://exceptionless.com/pricing" target="_blank">view plan information</a>)</label>
            <select id="plan" class="span4" style="display: block;" data-bind="options: plans, value: selectedPlan, optionsText: function(item) { return item.description }"></select>

            <div data-bind="visible: selectedPlan.price !== 0 && !hasAdminRole">
                <h4>Credit Card</h4>
                <div data-bind="visible: selectedOrganization.stripeCustomerId">
                    <label class="radio">
                        <input type="radio" name="existing-payment" value="existing" data-bind="checked: cardMode">
                        Use credit card ending in <span data-bind="text: selectedOrganization.cardLast4"></span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="existing-payment" value="new" data-bind="checked: cardMode">
                        Use a new credit card
                    </label>
                </div>

                <div class="payment" data-bind="visible: cardMode === 'new'">
                    <div class="payment-message"></div>

                    <div class="controls controls-row">
                        <div class="number">
                            <label for="cardNumber">Card number</label>
                            <input type="text" id="cardNumber" placeholder="•••• •••• •••• ••••" x-autocompletetype="cc-number" />
                            <div class="placeholder"></div>
                            <div class="type"></div>
                        </div>

                        <div class="expiry">
                            <label for="cardExpiry">Expires</label>
                            <input type="text" id="cardExpiry" placeholder="MM / YY" x-autocompletetype="cc-exp" />
                        </div>
                    </div>

                    <div class="controls controls-row">
                        <div class="name">
                            <label for="cardName">Name on card</label>
                            <input type="text" id="cardName" placeholder="Name on card" x-autocompletetype="full-name" autocapitalize="words" autocorrect="off" spellcheck="off" value="@userFullName" />
                        </div>

                        <div class="cvc">
                            <label for="cardCVC">Card code</label>
                            <input type="text" id="cardCVC" placeholder="CVC" pattern="\d*" x-autocompletetype="cc-csc" autocomplete="off" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button id="change-plan-button" class="btn btn-primary">Change Plan</button>
    </div>
</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    Stripe.setPublishableKey('@stripeKey');
    $(document).ready(function () {
        new exceptionless.account.BillingPlanModal();
    });
</script>
