@{
    Layout = "_BareLayout.cshtml";
}

<div class="row">
    <div class="span6">
        <div class="widget">
            <div class="widget-header">
                <h3>Error Report</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <p>Thank You. Your information has been submitted.</p>
            </div>
        </div>
    </div>
</div>
