<wrapper class="secondary">
    <row>
        <columns large="6">
            <h5>Connect With Us:</h5>
            <button class="facebook radius expand" href="https://www.facebook.com/exceptionless/">Facebook</button>
            <button class="twitter radius expand" href="https://twitter.com/exceptionless">Twitter</button>
            <button class="github radius expand" href="https://github.com/exceptionless/exceptionless">GitHub</button>
            <!-- https://plus.google.com/b/111513069275546127753/111513069275546127753/posts -->
        </columns>
        <columns large="6">
            <h5>Contact Info:</h5>
            <p>Email: <a href="mailto:support@exceptionless.io">support@exceptionless.io</a></p>
        </columns>
    </row>
</wrapper>