name: Build
on: [push, pull_request]
env:
  TERM: xterm
  DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_NOLOGO: true
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}

jobs:

  build-reason:

    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Build Reason
        env:
          GITHUB_EVENT: ${{ toJson(github) }}
        run: "echo ref: ${{github.ref}} event: ${{github.event_name}}"

  test-api:

    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.*
          dotnet-quality: ga
      - name: Build
        run: dotnet build --configuration Release /clp:NoSummary
      - name: Start Services
        working-directory: docker
        run: docker compose up --wait elasticsearch
      - name: Run Tests
        run: dotnet test --configuration Release --no-build --logger GitHubActions

  test-client:

    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        working-directory: ./src/Exceptionless.Web/ClientApp

    steps:

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.*
          dotnet-quality: ga

      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: |
            node_modules
          key: node-modules-${{ hashFiles('package-lock.json') }}

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Npm Packages
        run: npm ci

      - name: Lint Client
        run: npm run lint

      - name: Run Unit Tests
        run: npm run test:unit

  build-docker:

    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:

      - name: Checkout
        uses: actions/checkout@v3
        with:
            fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build exceptionless docker image
        uses: docker/build-push-action@v4
        with:
            context: .
            target: exceptionless
            cache-from: type=gha
            cache-to: type=gha,mode=min
            tags: exceptionless/exceptionless-ci:latest
            outputs: type=docker,dest=/tmp/exceptionless.tar

      - name: Upload exceptionless artifact
        uses: actions/upload-artifact@v3
        with:
            name: exceptionless-image
            path: /tmp/exceptionless.tar

  deploy:
    runs-on: ubuntu-latest
    needs: [test-api, test-client, build-docker]
    timeout-minutes: 30

    steps:
      - name: Version
        run: |
          dotnet tool install --global minver-cli --version 4.3.0
          version=$(minver --tag-prefix v)
          echo "MINVERVERSIONOVERRIDE=$version" >> $GITHUB_ENV
          echo "VERSION=$version" >> $GITHUB_ENV
          echo "### Version: $version" >> $GITHUB_STEP_SUMMARY

      - name: Set up Docker Buildx
        if: "${{ env.DOCKER_USERNAME != '' }}"
        uses: docker/setup-buildx-action@v2
        with:
          platforms: linux/amd64

      - name: Download exceptionless artifact
        uses: actions/download-artifact@v3
        with:
            name: exceptionless-image
            path: /tmp

      - uses: geekyeggo/delete-artifact@v2
        with:
            name: exceptionless-image

      - name: Load docker image
        run: |
          docker load --input /tmp/exceptionless-image.tar

      - name: Build docker images
        run: |
          echo "::remove-matcher owner=csc::"
          # build docker images

          for image in {"api","job","app"}; do
            docker buildx build --cache-from type=gha --cache-to type=gha,mode=min --tag exceptionless/$image-ci:latest --target $image .
          done

      - name: Login to GitHub Container Registry
        if: "${{ env.DOCKER_USERNAME != '' }}"
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to DockerHub
        if: "${{ env.DOCKER_USERNAME != '' }}"
        uses: docker/login-action@v2
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Publish CI Packages
        if: "${{ env.DOCKER_USERNAME != '' }}"
        run: |
          echo "::remove-matcher owner=csc::"
          # tag and push docker images

          for image in {"api","job","app","exceptionless"}; do
            docker image tag exceptionless/$image-ci:latest exceptionless/$image-ci:$VERSION
            docker image tag exceptionless/$image-ci:latest ghcr.io/exceptionless/exceptionless/$image-ci:$VERSION
            docker image tag exceptionless/$image-ci:latest ghcr.io/exceptionless/exceptionless/$image-ci:latest

            docker image push --all-tags exceptionless/$image-ci
          done

      - name: Publish Release Packages
        if: "${{ env.DOCKER_USERNAME != '' && startsWith(github.ref, 'refs/tags/v') && github.event_name != 'pull_request' }}"
        run: |
          echo "::remove-matcher owner=csc::"
          # tag and push docker images

          for image in {"api","job","app","exceptionless"}; do
            docker image tag exceptionless/$image-ci:latest exceptionless/$image:$VERSION
            docker image tag exceptionless/$image-ci:latest exceptionless/$image:latest

            docker image push --all-tags exceptionless/$image
          done
          #docker buildx build --target exceptionless7 --platform linux/amd64 --output "type=image,push=true" . --tag exceptionless/exceptionless:$VERSION-elasticsearch7 --tag exceptionless/exceptionless:latest-elasticsearch7

      - name: Install Helm
        if: "${{ env.DOCKER_USERNAME != '' && github.event_name != 'pull_request' }}"
        uses: azure/setup-helm@v3
        with:
          version: v3.11.1

      - name: Deploy Changes to Development Environment
        if: "${{ env.DOCKER_USERNAME != '' && github.ref == 'refs/heads/main' && github.event_name != 'pull_request' }}"
        run: |
          az login --service-principal --username ${{ secrets.AZ_USERNAME }} --password ${{ secrets.AZ_PASSWORD }} --tenant ${{ secrets.AZ_TENANT }} --output none
          az aks get-credentials --resource-group exceptionless-v6 --name ex-k8s-v6
          sed -i "s/^appVersion:.*$/appVersion: '${VERSION}'/" ./k8s/exceptionless/Chart.yaml
          helm upgrade --set "version=${VERSION}" --reuse-values --values ./k8s/ex-dev-values.yaml ex-dev --namespace ex-dev ./k8s/exceptionless

      - name: Deploy Changes to Production Environment
        if: "${{ env.DOCKER_USERNAME != '' && startsWith(github.ref, 'refs/tags/v') && github.event_name != 'pull_request' }}"
        run: |
          az login --service-principal --username ${{ secrets.AZ_USERNAME }} --password ${{ secrets.AZ_PASSWORD }} --tenant ${{ secrets.AZ_TENANT }} --output none
          az aks get-credentials --resource-group exceptionless-v6 --name ex-k8s-v6
          sed -i "s/^appVersion:.*$/appVersion: '${VERSION}'/" ./k8s/exceptionless/Chart.yaml
          helm upgrade --set "version=${VERSION}" --reuse-values --values ./k8s/ex-prod-values.yaml ex-prod --namespace ex-prod ./k8s/exceptionless
