<form name="addOrganizationForm" role="form">
  <div class="modal-header dialog-header-confirm">
    <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
    <h4 class="modal-title">New Organization</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label for="name">Organization Name</label>
      <input type="text" class="form-control input-lg" id="name" name="name" ng-model="vm.data.name"
             placeholder="Organization Name" required>

      <div class="error" ng-if="addOrganizationForm.name.$touched || addOrganizationForm.$submitted">
        <small ng-if="addOrganizationForm.name.$error.name">
          Please enter a valid organization name.
        </small>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-default" ng-click="vm.save(addOrganizationForm.$valid)">Save</button>
    <button type="button" class="btn btn-primary" ng-click="vm.cancel()">Cancel</button>
  </div>
</form>
